  <!----- Header ----->
  <app-header></app-header>
  <!----- Header ----->
  <div class="common-space">
    <div class="login-wraper">
      <div class="login-box  p-3">
        <h1 class="text-center">Reset Password</h1>
        <form>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
              <div class="login-form-group">
                <label class="label-text">Email</label>
                <div class="login-form-input">
                  <input type="text" placeholder="Enter Your Email id" class="inputview" />
                  <span class="error-message d-none">Please enter your work email ID</span>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-12">
              <div class="login-form-group">
                <button type="button" class="loginbtn">Send Reset Link</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>