  <!----- Header ----->
  <app-header></app-header>
  <!----- Header ----->
  <div class="common-space">
    <div class="login-wraper">
      <div class="login-box p-3">
        <h1 class="text-center">Sign In</h1>
        <ul class="social-type">
          <li class="social-list">
            <a class="facebook-link" href="javascript:void(0)"><i class='bx bxl-github'></i></a>
          </li>
          <li class="social-list">
            <a class="linked-link" href="javascript:void(0)"><i class='bx bxl-linkedin'></i></a>
          </li>
          <li class="social-list">
            <a class="google-link" href="javascript:void(0)"><i class='bx bxl-google'></i></a>
          </li>
        </ul>
        <form>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
              <div class="login-form-group">
                <label class="label-text">Email</label>
                <div class="login-form-input">
                  <input type="text" placeholder="Enter Your Email id" class="inputview" />
                  <span class="error-message d-none">Please enter your work email ID</span>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-12">
              <div class="login-form-group">
                <label class="label-text">Password</label>
                <div class="login-form-input">
                  <input type="password" placeholder="Enter Your Password" class="inputview" />
                  <span class="error-message  d-none">Please enter your Password</span>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-12">
              <div class="login-form-group">
                <div class="checkbox-group">
                  <input type="checkbox" id="terms-condition" />
                  <label for="terms-condition">Read our <a href="javascript:void(0)">Terms of Use</a> and <a
                      href="javascript:void(0)">Privacy Policy</a></label>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-12">
              <div class="login-form-group">
                <button type="button" class="loginbtn">Sign In</button>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-12">
              <a href="reset-password.html" class="resetpwdlink">Reset Your Password</a>
              <p class="text-center">
                <span>Don't have an account?</span>
                <a href="signup.html">Sign up</a>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>