  <!----- Header ----->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <h1 class="logo mr-auto">
        <a class="black-logo" [routerLink]="['/index']">
          <img src="assets/img/white-logo.png" />
        </a>
        <a class="white-logo" [routerLink]="['/index']">
          <img src="assets/img/black-logo.png" />
        </a>
      </h1>
      <nav class="nav-menu profile-creat-nav d-none d-lg-block">
        <ul>
          <li><a href="profile.html">Profile</a></li>
          <li><a href="workskill.html">Workskill</a></li>
          <li><a href="yourjobs.html">Your Jobs</a></li>
          <li><a href="interviewsList.html">Interviews</a></li>
          <li class="user-details dropdown">
            <a class="user-icon dropdown-toggle" href="javascript:void(0)" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class='bx bxs-user-circle'></i>
            </a>
            <div class="user-dropdown dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="javascript:void(0)"><i class='bx bxs-cog'></i>Settings</a>
              <a class="dropdown-item" href="javascript:void(0)"><i class='bx bx-help-circle'></i>Help</a>
              <a class="dropdown-item" href="javascript:void(0)"><i class='bx bx-log-in'></i>Logout</a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <!----- Header ----->

  <div class="common-space">
    <div class="profile-create-wraper">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 col-md-9 col-12">
            <div class="row mb-3">
              <div class="col-lg-8 col-md-8 col-12 pr-0">
                <div class="profile-card">
                  <div class="profile-card-body">
                    <div class="d-flex">
                      <span class="pc-avatar">
                        <img src="assets/img/jobrole.jpg" />
                        <div class="edit-profile">
                          <input type="file" id="fileupload" />
                          <label for="fileupload"><i class='bx bxs-edit'></i>Edit</label>
                        </div>
                      </span>
                      <div class="pc-namd-detail">
                        <h1>John Doe<i class='bx bxs-edit com-edit'></i></h1>
                        <ul class="pc-type mt-2">
                          <li>
                            <label>Current Role:</label>
                            <div class="flex-baseline">
                              <span class="pc-text">Software Developer</span>
                              <button type="button" class="com-edit"><i class='bx bxs-edit com-edit'></i></button>
                            </div>
                          </li>
                          <li>
                            <label>Location:</label>
                            <div class="flex-baseline">
                              <span class="pc-text">Tamil Nadu, Chennai</span>
                              <button type="button" class="com-edit"><i class='bx bxs-edit com-edit'></i></button>
                            </div>
                          </li>
                          <li>
                            <label>Prefered Role:</label>
                            <div class="flex-baseline">
                              <span class="pc-text">Software Developer</span>
                              <button type="button" class="com-edit"><i class='bx bxs-edit com-edit'></i></button>
                            </div>
                          </li>
                        </ul>
                        <div class="view-res-btngroup">
                          <button type="button" class="resumebtn">View Resume</button>
                          <button type="button" class="resumebtn update-resume ml-2"><i class='bx bxs-edit'></i>Update
                            Resume</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-12">
                <div class="profile-card">
                  <div class="profile-card-body d-flex align-items-center flex-column">
                    <h2 class="card-title fontSmall">Profile Strength</h2>
                    <div class="radialProgressBar progress-70">
                      <div class="overlay">75%</div>
                    </div>
                    <p class="mb-0 common-para mt-1">Your Profile is 75% Complete.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-12 col-md-12 col-12">
                <div class="profile-card">
                  <div class="common-title d-flex justify-content-between">
                    <h2 class="card-title mb-0">Profile Strength</h2>
                    <button type="button" class="editbtn"><i class='bx bxs-edit'></i></button>
                  </div>
                  <div class="profile-body p-3">
                    <p class="common-para m-0">It is a long established fact that a reader will be distracted by the
                      readable content of a page when
                      looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                      distribution of letters, as opposed to using 'Content here, content here', making it look like
                      readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as
                      their
                      default model text, and a search for 'lorem ipsum' will uncover many web sites still in their
                      infancy.
                      Various versions have evolved over the years, sometimes by accident, sometimes on purpose
                      (injected
                      humour and the like).</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-lg-12 col-md-12 col-12">
                <div class="profile-card">
                  <div class="common-title d-flex justify-content-between">
                    <h2 class="card-title mb-0">Top Enterprise Application Software Experience</h2>
                    <button type="button" class="editbtn"><i class='bx bxs-edit'></i></button>
                  </div>
                  <div class="profile-body p-3">
                    <div class="mepb-card">
                      <div class="mepb-view">
                        <h1>Specific Skills</h1>
                        <ul class="mepb-type">
                          <li>
                            <span class="dot master"></span>
                            <span class="mepb-label">Master</span>
                          </li>
                          <li>
                            <span class="dot expert"></span>
                            <span class="mepb-label">Expert</span>
                          </li>
                          <li>
                            <span class="dot proficient"></span>
                            <span class="mepb-label">Proficient</span>
                          </li>
                          <li>
                            <span class="dot familiar"></span>
                            <span class="mepb-label">Familiar</span>
                          </li>
                          <li>
                            <span class="dot beginner"></span>
                            <span class="mepb-label">Beginner</span>
                          </li>
                        </ul>
                      </div>
                      <ul class="enterprise-type">
                        <li class="enterprise-list">
                          <span class="enterprise-link">ERP</span>
                          <div class="lang-progress">
                            <span class="lang-bar w-50">2</span>
                            <span class="lang-bar bggray w-50">P</span>
                          </div>
                        </li>
                        <li class="enterprise-list">
                          <span class="enterprise-link">PLM</span>
                          <div class="lang-progress">
                            <span class="lang-bar w-50">2</span>
                            <span class="lang-bar bggray w-50">P</span>
                          </div>
                        </li>
                      </ul>


                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-lg-12 col-md-12 col-12">
                <div class="profile-card">
                  <div class="common-title d-flex justify-content-between">
                    <h2 class="card-title mb-0">Top Development Skills</h2>
                    <button type="button" class="editbtn"><i class='bx bxs-edit'></i></button>
                  </div>
                  <div class="profile-body p-3">
                    <ul class="app-soft-type">
                      <li class="app-soft-list">
                        Node Js
                      </li>
                      <li class="app-soft-list">
                        CSS
                      </li>
                      <li class="app-soft-list">
                        JavaScript
                      </li>
                      <li class="app-soft-list">
                        GIT
                      </li>
                      <li class="app-soft-list">
                        Express.js
                      </li>
                      <li class="app-soft-list">
                        HTML5
                      </li>
                      <li class="app-soft-list">
                        Test-driven Development (TDD)
                      </li>
                      <li class="app-soft-list">
                        DevOps
                      </li>
                      <li class="app-soft-list">
                        Redux
                      </li>
                      <li class="app-soft-list">
                        Babel
                      </li>
                      <li class="app-soft-list">
                        React
                      </li>
                      <li class="app-soft-list">
                        Jest
                      </li>
                      <li class="app-soft-list">
                        React Redux
                      </li>
                      <li class="app-soft-list">
                        TypeScript
                      </li>
                      <li class="app-soft-list">
                        Windows
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-12 pl-0">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-12">
                <div class="profile-card mb-3">
                  <div class="profile-card-body">
                    <h2 class="card-title fontSmall">Profile Completeness</h2>
                    <div class="profile-completeness">
                      <ul class="pfc-type">
                        <li>
                          <div class="pro-com-textedit">
                            <label>Profile Summary</label>
                            <button type="button" class="com-edit"><i class='bx bxs-edit com-edit'></i></button>
                          </div>
                          <div class="talent-progress-bar">
                            <span class="talent-progress progress-green w-10"></span>
                          </div>
                        </li>
                        <li>
                          <div class="pro-com-textedit">
                            <label>Top EAS Experience</label>
                            <button type="button" class="com-edit"><i class='bx bxs-edit com-edit'></i></button>
                          </div>
                          <div class="talent-progress-bar">
                            <span class="talent-progress progress-green w-30"></span>
                          </div>
                        </li>
                        <li>
                          <div class="pro-com-textedit">
                            <label>Top Development Skills</label>
                            <button type="button" class="com-edit"><i class='bx bxs-edit com-edit'></i></button>
                          </div>
                          <div class="talent-progress-bar">
                            <span class="talent-progress progress-green w-60"></span>
                          </div>
                        </li>
                        <li>
                          <div class="pro-com-textedit">
                            <label>Introduction Video</label>
                            <button type="button" class="com-edit"><i class='bx bxs-edit com-edit'></i></button>
                          </div>
                          <div class="talent-progress-bar">
                            <span class="talent-progress progress-green w-0"></span>
                          </div>
                        </li>
                        <li>
                          <div class="pro-com-textedit">
                            <label>Job Search Status Profiecncy</label>
                            <button type="button" class="com-edit"><i class='bx bxs-edit com-edit'></i></button>
                          </div>
                          <div class="talent-progress-bar">
                            <span class="talent-progress progress-green"></span>
                          </div>
                        </li>
                        <li>
                          <div class="pro-com-textedit">
                            <label>Rates</label>
                            <button type="button" class="com-edit"><i class='bx bxs-edit com-edit'></i></button>
                          </div>
                          <div class="talent-progress-bar">
                            <span class="talent-progress progress-green"></span>
                          </div>
                        </li>
                        <li>
                          <div class="pro-com-textedit">
                            <label>Technology Stacks</label>
                            <button type="button" class="com-edit"><i class='bx bxs-edit com-edit'></i></button>
                          </div>
                          <div class="talent-progress-bar">
                            <span class="talent-progress progress-green"></span>
                          </div>
                        </li>
                        <li>
                          <div class="pro-com-textedit">
                            <label>Work History Code Challenge</label>
                            <button type="button" class="com-edit"><i class='bx bxs-edit com-edit'></i></button>
                          </div>
                          <div class="talent-progress-bar">
                            <span class="talent-progress progress-green"></span>
                          </div>
                        </li>
                        <li>
                          <div class="pro-com-textedit">
                            <label>Education</label>
                            <button type="button" class="com-edit"><i class='bx bxs-edit com-edit'></i></button>
                          </div>
                          <div class="talent-progress-bar">
                            <span class="talent-progress progress-green"></span>
                          </div>
                        </li>
                        <li>
                          <div class="pro-com-textedit">
                            <label>Contact Details</label>
                            <button type="button" class="com-edit"><i class='bx bxs-edit com-edit'></i></button>
                          </div>
                          <div class="talent-progress-bar">
                            <span class="talent-progress progress-green"></span>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-12">
                <div class="profile-card">
                  <div class="profile-card-body">
                    <div class="d-flex justify-content-between flex-wrap">
                      <h2 class="card-title fontSmall d-flex align-items-center"><i class='bx bxs-contact'></i>Contact
                        Us</h2>
                      <button type="button" class="com-edit"><i class="bx bxs-edit com-edit"></i></button>
                    </div>
                    <div class="contact-form">
                      <form>
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-12">
                            <div class="contact-form-group">
                              <label>Address</label>
                              <div class="contact-input-group">
                                <span class="editLabel">United State</span>
                                <input type="text" class="inputview d-none" />
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-12 col-md-12 col-12">
                            <div class="contact-form-group">
                              <label>Timezone</label>
                              <div class="contact-input-group">
                                <span class="editLabel">Pacific/Midway</span>
                                <select class="inputview d-none">
                                  <option value="1">Pacific/Midway</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-12 col-md-12 col-12">
                            <div class="contact-form-group">
                              <label>Email</label>
                              <div class="contact-input-group">
                                <span class="editLabel">talent@gmail.com</span>
                                <input type="text" class="inputview d-none" />
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-12 col-md-12 col-12">
                            <div class="contact-form-group">
                              <label>Skype</label>
                              <div class="contact-input-group">
                                <span class="editLabel">talent</span>
                                <input type="text" class="inputview d-none" />
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-12 col-md-12 col-12">
                            <div class="contact-form-group">
                              <label>Telegram</label>
                              <div class="contact-input-group">
                                <span class="editLabel">+1 456 789 2322</span>
                                <input type="text" class="inputview d-none" />
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-12 col-md-12 col-12">
                            <div class="contact-form-group">
                              <label>Referral Code</label>
                              <div class="contact-input-group">
                                <span class="editLabel">28480</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="profile-create-video section-bg mt-5">
      <div class="container">
        <div class="section-title text-center">
          <h2>Profile Video</h2>
        </div>
        <div class="row mt-5">
          <div class="col-lg-6 col-md-6 col-12">
            <div class="video-tag">
              <iframe width="100%" height="300" src="https://www.youtube.com/embed/-pBiVpzRfBI" title="Hiring Video"
                frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12">
            <div class="video-content">
              <p class="common-para mt-0">As a remote professional on our platform, your ability to communicate over
                video is a required skill.</p>
              <p class="common-para">But look, there's no pressure here. Very few people love recording themselves.
                Think of this as a light conversation starter for your future interviews. What
                would you say about yourself if you were meeting prospective clients for the
                first time?</p>
              <p class="common-para">You only have to do this once - it will live on your profile and you can re-do as
                many times as you like.</p>
              <ul class="twowaysstreet-type p-0 mt-3">
                <li><i class="icofont-tick-mark"></i>Write down a few talking points before you begin.</li>
                <li><i class="icofont-tick-mark"></i>Have a clean background and good lighting.</li>
                <li><i class="icofont-tick-mark"></i>Look into the camera when you speak.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="profile-create-video">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-12 border-right">
            <h2 class="card-title mb-3">Job Search Status</h2>
            <p class="common-para">Tell your future clients how much time you have for new work</p>
            <div class="js-status-dropdown">
              <select class="inputview">
                <option>Actively Looking for Jobs</option>
                <option>Passively Looking for the Right Opportunity</option>
                <option>Not Currently Looking for New Work</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12">
            <h2 class="card-title mb-3">Visible to you and Staff only</h2>
            <div class="interested-visible">
              <div class="iv-formgroup">
                <label>What Kind of jobs are you interested in?</label>
                <div class="d-flex w-100 mb-2">
                  <div class="iv-input-form w-50">
                    <input type="text" class="inputview" />
                  </div>
                  <div class="can-toggle ml-2">
                    <input id="a" type="checkbox">
                    <label for="a">
                      <div class="can-toggle__switch" data-checked="Yes" data-unchecked="No"></div>
                    </label>
                  </div>
                </div>
                <div class="d-flex w-100">
                  <div class="iv-input-form w-50">
                    <input type="text" class="inputview" />
                  </div>
                  <div class="can-toggle ml-2">
                    <input id="b" type="checkbox">
                    <label for="b">
                      <div class="can-toggle__switch" data-checked="Yes" data-unchecked="No"></div>
                    </label>
                  </div>
                </div>
              </div>
              <div class="iv-formgroup mt-2">
                <label>Max Hours Per Week Available for contact GIGS?</label>
                <div class="iv-input-form">
                  <div class="d-flex align-items-center">
                    <p class="m-0">20 hrs/wk</p>
                    <button type="button" class="editbtn ml-2"><i class="bx bxs-edit"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="visible-contact section-bg">
      <div class="container">
        <h2 class="card-title mb-3">Visible to you and Staff only</h2>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-12">
            <ul class="visible-so mt-2 d-flex flex-wrap">
              <li>
                <label>Phone Number:</label>
                <span class="pc-text">(415) 345-5674</span>
                <i class="bx bxs-edit com-edit"></i>
              </li>
              <li>
                <label>Works Hours(Your Local Time):</label>
                <span class="pc-text">02:30</span>
                <i class="bx bxs-edit com-edit"></i>
              </li>
              <li>
                <label>External Links:</label>
                <span class="pc-text d-inline-flex align-items-center"><i class='bx bxl-github externallink'></i>Update
                  Links</span>
                <i class="bx bxs-edit com-edit"></i>
              </li>
            </ul>
          </div>
          <div class="col-lg-12 col-md-12 col-12">
            <h2 class="card-title mb-3 mt-3">Rate Card (USD)</h2>
            <ul class="visible-so mt-2 d-flex flex-wrap">
              <li>
                <label>Hourly:</label>
                <span class="pc-text">$60</span>
                <i class="bx bxs-edit com-edit"></i>
              </li>
              <li>
                <label>Monthly Retainer:</label>
                <span class="pc-text">$14,000</span>
                <i class="bx bxs-edit com-edit"></i>
              </li>
              <li>
                <label>Salary:</label>
                <span class="pc-text">$180,000</span>
                <i class="bx bxs-edit com-edit"></i>
              </li>
            </ul>
          </div>
          <div class="col-lg-12 col-md-12 col-12">
            <h2 class="card-title mb-3 mt-3">Rate Settings Tips</h2>
            <p class="common-para">We encourage clients to
              book on a monthly basis
              vs. hourly.</p>
            <p class="common-para mt-2">We recommend
              developers offer a
              discounted monthly rate to
              encourage longer term
              commitments.</p>
            <p class="common-para mt-2">Salaried employee roles
              often include non-salary
              comp such as benefits,
              equity and PTO. We
              recommend only including
              your base salary here.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="profile-skills">
      <div class="container">
        <div class="mepb-view">
          <h1>Specific Skills</h1>
          <ul class="mepb-type">
            <li>
              <span class="dot master"></span>
              <span class="mepb-label">Master</span>
            </li>
            <li>
              <span class="dot expert"></span>
              <span class="mepb-label">Expert</span>
            </li>
            <li>
              <span class="dot proficient"></span>
              <span class="mepb-label">Proficient</span>
            </li>
            <li>
              <span class="dot familiar"></span>
              <span class="mepb-label">Familiar</span>
            </li>
            <li>
              <span class="dot beginner"></span>
              <span class="mepb-label">Beginner</span>
            </li>
          </ul>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-12" data-aos="fade-up" data-aos-delay="100">
            <h2 class="secondary-title">Languages</h2>
            <ul class="developer-type">
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i> JavaScript
                </a>
                <div class="lang-progress w-40">
                  <span class="lang-bar w-50">2</span>
                  <span class="lang-bar bggray w-50">P</span>
                </div>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i> CH
                </a>
                <div class="lang-progress w-40">
                  <span class="lang-bar w-50">2</span>
                  <span class="lang-bar bggray w-50">P</span>
                </div>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i> Python
                </a>
                <div class="lang-progress w-40">
                  <span class="lang-bar w-50">2</span>
                  <span class="lang-bar bggray w-50">P</span>
                </div>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i> HTML5
                </a>
                <div class="lang-progress w-40">
                  <span class="lang-bar w-50">2</span>
                  <span class="lang-bar bggray w-50">P</span>
                </div>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i> C#
                </a>
                <div class="lang-progress w-40">
                  <span class="lang-bar w-50">2</span>
                  <span class="lang-bar bggray w-50">P</span>
                </div>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i> CSS3
                </a>
                <div class="lang-progress w-40">
                  <span class="lang-bar w-50">2</span>
                  <span class="lang-bar bggray w-50">E</span>
                </div>
              </li>

            </ul>
            <hr class="h-line">
          </div>
          <div class="col-lg-12 col-md-12 col-12" data-aos="fade-up" data-aos-delay="100">
            <h2 class="secondary-title">Frameworks</h2>
            <ul class="developer-type">
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i> IOS SDK
                </a>
                <div class="lang-progress w-40">
                  <span class="lang-bar w-50">2</span>
                  <span class="lang-bar bggray w-50">E</span>
                </div>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i> Ext JS
                </a>
                <div class="lang-progress w-40">
                  <span class="lang-bar w-50">2</span>
                  <span class="lang-bar bggray w-50">E</span>
                </div>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i> Colony Framework
                </a>
                <div class="lang-progress w-40">
                  <span class="lang-bar w-50">2</span>
                  <span class="lang-bar bggray w-50">E</span>
                </div>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i> Flask
                </a>
                <div class="lang-progress w-40">
                  <span class="lang-bar w-50">2</span>
                  <span class="lang-bar bggray w-50">E</span>
                </div>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i> Django
                </a>
                <div class="lang-progress w-40">
                  <span class="lang-bar w-50">2</span>
                  <span class="lang-bar bggray w-50">E</span>
                </div>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i> Ruby on Rails (RoR)
                </a>
                <div class="lang-progress w-40">
                  <span class="lang-bar w-50">2</span>
                  <span class="lang-bar bggray w-50">E</span>
                </div>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i> .NET
                </a>
                <div class="lang-progress w-40">
                  <span class="lang-bar w-50">2</span>
                  <span class="lang-bar bggray w-50">E</span>
                </div>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i> Android SDK
                </a>
                <div class="lang-progress w-40">
                  <span class="lang-bar w-50">2</span>
                  <span class="lang-bar bggray w-50">E</span>
                </div>
              </li>

            </ul>
            <hr class="h-line">
          </div>
          <div class="col-lg-12 col-md-12 col-12" data-aos="fade-up" data-aos-delay="100">
            <h2 class="secondary-title">Libraries/APIS</h2>
            <ul class="developer-type">
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>jQuery
                </a>
                <div class="lang-progress w-40">
                  <span class="lang-bar w-50">2</span>
                  <span class="lang-bar bggray w-50">E</span>
                </div>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>React
                </a>
                <div class="lang-progress w-40">
                  <span class="lang-bar w-50">2</span>
                  <span class="lang-bar bggray w-50">E</span>
                </div>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>Parse SDK
                </a>
                <div class="lang-progress w-40">
                  <span class="lang-bar w-50">2</span>
                  <span class="lang-bar bggray w-50">E</span>
                </div>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i> OpenGL ES
                </a>
                <div class="lang-progress w-40">
                  <span class="lang-bar w-50">2</span>
                  <span class="lang-bar bggray w-50">E</span>
                </div>
              </li>
            </ul>
            <hr class="h-line">
          </div>
          <div class="col-lg-12 col-md-12 col-12" data-aos="fade-up" data-aos-delay="100">
            <h2 class="secondary-title">Tools</h2>
            <ul class="developer-type">
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>Subversion (SVN)
                </a>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>Xcode
                </a>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>Git
                </a>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i> Eclipse IDE
                </a>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i> TokBox
                </a>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i> Microsoft Dynamics AX
                </a>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i> Android Studio
                </a>
              </li>
            </ul>
            <hr class="h-line">
          </div>
          <div class="col-lg-12 col-md-12 col-12" data-aos="fade-up" data-aos-delay="100">
            <h2 class="secondary-title">Paradigms</h2>
            <ul class="developer-type">
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>Agile Software Development
                </a>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>Scrum
                </a>
              </li>
            </ul>
            <hr class="h-line">
          </div>
          <div class="col-lg-12 col-md-12 col-12" data-aos="fade-up" data-aos-delay="100">
            <h2 class="secondary-title">Platforms</h2>
            <ul class="developer-type">
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>IOS
                </a>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>Linux
                </a>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>Heroku
                </a>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>Windows
                </a>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>Amazon Web Services (AWS)
                </a>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>MacOS
                </a>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>WordPress
                </a>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>Docker
                </a>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>Parse
                </a>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>Android
                </a>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>BSD
                </a>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>Mac OS
                </a>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>Eclipse
                </a>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>Oracle
                </a>
              </li>
            </ul>
            <hr class="h-line">
          </div>
          <div class="col-lg-12 col-md-12 col-12" data-aos="fade-up" data-aos-delay="100">
            <h2 class="secondary-title">Storage</h2>
            <ul class="developer-type">
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>SQLite
                </a>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>MySQL
                </a>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>PostgreSQL
                </a>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>MongoDB
                </a>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>Oracle DBMS
                </a>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>PL/SQL
                </a>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>Memcached
                </a>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>Microsoft SQL Server
                </a>
              </li>
            </ul>
            <hr class="h-line">
          </div>
          <div class="col-lg-12 col-md-12 col-12" data-aos="fade-up" data-aos-delay="100">
            <h2 class="secondary-title">Other</h2>
            <ul class="developer-type">
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>UI
                </a>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>UX
                </a>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>Quorum
                </a>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>Pagoda Box
                </a>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>Front-end
                </a>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>Enterprise Resource Planning (ERP)
                </a>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>User Interface (UI)
                </a>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>Front-end Development
                </a>
              </li>
              <li class="developer-list">
                <a href="javascript:void(0)">
                  <i class="icofont-simple-right"></i>Software Development
                </a>
              </li>
            </ul>
            <hr class="h-line">
          </div>
        </div>
      </div>
    </section>
    <section class="work-history section-bg">
      <div class="container">
        <div class="section-title  text-left mb-0">
          <h2>Work History</h2>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-12">
            <div class="workhistory-table">
              <button type="button" class="btn-get-started addworkhistorybtn mb-2 d-flex align-items-center ml-auto"><i
                  class='bx bx-plus-circle'></i> Add Work History</button>
              <div class="apptalent-table-view">
                <table>
                  <thead>
                    <tr class="price-table-head">
                      <th>Role</th>
                      <th>Duration</th>
                      <th>Developer Skills</th>
                      <th>Role & Responsibilities</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>BackEnd</td>
                      <td>February 2019 - April 2021</td>
                      <td>
                        <ul class="table-lan-type">
                          <li>Backend Engineer</li>
                          <li>RabbitMQ</li>
                        </ul>
                      </td>
                      <td>BackEnd</td>
                      <td>
                        <button type="button" class="deletebtn"><i class='bx bxs-trash'></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="section-title text-left mb-0">
          <h2>Education</h2>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-12">
            <div class="workhistory-table">
              <button type="button" class="btn-get-started addworkhistorybtn mb-2 d-flex align-items-center ml-auto"><i
                  class='bx bx-plus-circle'></i> Add Education</button>
              <div class="apptalent-table-view">
                <table>
                  <thead>
                    <tr class="price-table-head">
                      <th>Degree</th>
                      <th>University</th>
                      <th>City/State/Country</th>
                      <th>Specialization</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Bacherols</td>
                      <td>National University</td>
                      <td>Bangalore/Karnataka/India</td>
                      <td>Computer Science</td>
                      <td>
                        <button type="button" class="deletebtn"><i class='bx bxs-trash'></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="apptalent-connect">
      <div class="container">
        <div class="section-title text-center p-0">
          <h2 class="text-white">Code Challenges</h2>
        </div>
        <div class="apptalent-export-content codechallenge">
          <p class="common-para text-white mb-3">YOU HAVE NOT COMPLETED ANY CODE CHALLENGES
          </p>
          <p class="common-para text-white mb-3">We get it - code tests suck. They don't measure how good a developer
            you are. They're not representative of real world situations.
            They're glorified CS exams!</p>
          <p class="common-para text-white mb-3">Yep, get it, heard it, know it, agree with lots of it. We took all of
            that into account when we built our challenges. Trust us, we're
            measuring stuff that DOES matter in the real world when we grade results.</p>
          <p class="common-para text-white mb-3">Plus, writing this bit of code increases your profile strength by A
            LOT, making your profile more competitive when you apply for
            gigs.</p>
          <a href="javascript:void(0)" class="applytojoin-btn">View Instructions</a>
        </div>
      </div>
    </section>
  </div>

<!--Footer-->
<app-footer></app-footer>