 <!----- Header ----->
 <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <h1 class="logo mr-auto">
        <a class="black-logo" [routerLink]="['/index']">
          <img src="assets/img/white-logo.png" />
        </a>
        <a class="white-logo" [routerLink]="['/index']">
          <img src="assets/img/black-logo.png" />
        </a>
      </h1>
      <nav class="nav-menu profile-creat-nav d-none d-lg-block">
        <ul>
          <li><a href="profile.html">Profile</a></li>
          <li><a href="workskill.html">Workskill</a></li>
          <li><a href="yourjobs.html">Your Jobs</a></li>
          <li><a href="interviewsList.html">Interviews</a></li>
          <li class="user-details dropdown">
            <a class="user-icon dropdown-toggle" href="javascript:void(0)" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class='bx bxs-user-circle'></i>
            </a>
            <div class="user-dropdown dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="javascript:void(0)"><i class='bx bxs-cog'></i>Settings</a>
              <a class="dropdown-item" href="javascript:void(0)"><i class='bx bx-help-circle'></i>Help</a>
              <a class="dropdown-item" href="javascript:void(0)"><i class='bx bx-log-in'></i>Logout</a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <!----- Header ----->

  <div class="common-space">
    <section class="employer-profile-edit">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-12">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-12">
                <div class="profile-card mb-3">
                  <div class="profile-card-body pt-2">
                    <div class="es-status d-flex flex-wrap justify-content-between mb-2">
                      <div class="status-group  d-flex flex-wrap align-items-center">
                        <button type="button" class="statusbtn active">Active</button>
                        <p>Posted Date:24/09/2021</p>
                      </div>
                    </div>
                    <div class="employer-pro-company d-flex flex-wrap">
                      <figure>
                        <img src="assets/img/14.png" />
                      </figure>
                      <div class="pc-namd-detail">
                        <h1>Digital Development Agency</h1>
                        <ul class="pc-type mt-2">
                          <li>
                            <label>Role:</label>
                            <div class="flex-baseline">
                              <span class="pc-text">Mobile Engineering</span>
                            </div>
                          </li>
                          <li>
                            <label>Freelancers From:</label>
                            <div class="flex-baseline">
                              <span class="pc-text">North Americal</span>
                            </div>
                          </li>
                          <li>
                            <label>Type:</label>
                            <div class="flex-baseline">
                              <span class="pc-text">Freelance/Contract</span>
                            </div>
                          </li>
                          <li>
                            <label>Duration:</label>
                            <div class="flex-baseline">
                              <span class="pc-text">Mid-term (3-6 months) for 30 hrs/wk</span>
                            </div>
                          </li>
                        </ul>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-12">
                <div class="profile-card  mb-3">
                  <div class="common-title d-flex justify-content-between">
                    <h2 class="card-title mb-0">Top Enterprise Application Software Experience</h2>
                  </div>
                  <div class="profile-body p-3">
                    <ul class="app-soft-type">
                      <li class="app-soft-list">
                        Node Js
                      </li>
                      <li class="app-soft-list">
                        CSS
                      </li>
                      <li class="app-soft-list">
                        JavaScript
                      </li>
                      <li class="app-soft-list">
                        GIT
                      </li>
                      <li class="app-soft-list">
                        Express.js
                      </li>
                      <li class="app-soft-list">
                        HTML5
                      </li>
                      <li class="app-soft-list">
                        Test-driven Development (TDD)
                      </li>
                      <li class="app-soft-list">
                        DevOps
                      </li>
                      <li class="app-soft-list">
                        Redux
                      </li>
                      <li class="app-soft-list">
                        Babel
                      </li>
                      <li class="app-soft-list">
                        React
                      </li>
                      <li class="app-soft-list">
                        Jest
                      </li>
                      <li class="app-soft-list">
                        React Redux
                      </li>
                      <li class="app-soft-list">
                        TypeScript
                      </li>
                      <li class="app-soft-list">
                        Windows
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-12">
                <div class="profile-card  mb-3">
                  <div class="common-title d-flex justify-content-between">
                    <h2 class="card-title mb-0">Top Development Skills</h2>

                  </div>
                  <div class="profile-body p-3">
                    <ul class="app-soft-type">
                      <li class="app-soft-list">
                        Node Js
                      </li>
                      <li class="app-soft-list">
                        CSS
                      </li>
                      <li class="app-soft-list">
                        JavaScript
                      </li>
                      <li class="app-soft-list">
                        GIT
                      </li>
                      <li class="app-soft-list">
                        Express.js
                      </li>
                      <li class="app-soft-list">
                        HTML5
                      </li>
                      <li class="app-soft-list">
                        Test-driven Development (TDD)
                      </li>
                      <li class="app-soft-list">
                        DevOps
                      </li>
                      <li class="app-soft-list">
                        Redux
                      </li>
                      <li class="app-soft-list">
                        Babel
                      </li>
                      <li class="app-soft-list">
                        React
                      </li>
                      <li class="app-soft-list">
                        Jest
                      </li>
                      <li class="app-soft-list">
                        React Redux
                      </li>
                      <li class="app-soft-list">
                        TypeScript
                      </li>
                      <li class="app-soft-list">
                        Windows
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-12">
                <div class="profile-card mb-3">
                  <div class="common-title d-flex justify-content-between">
                    <h2 class="card-title mb-0">.Net Developer Job Description</h2>

                  </div>
                  <div class="profile-body p-3">
                    <p class="common-para mt-0 mb-3">We are hiring a .NET Developer for developing software using
                      technologies
                      and languages of .NET framework. You will work with our team of developers
                      to design, build and configure applications from scratch as well as maintain
                      and support the existing ones. You will also provide user support to increase
                      the functionality of our products.</p>
                    <p class="common-para m-0">In order to succeed in this role, you must have the ability to write
                      clean,
                      efficient and functional code. You must also have a keen eye for details along
                      with a passion to develop software in .NET framework. So, if you like to work
                      in a fast-paced friendly environment, and qualify the following requirements,
                      we would like to hear from you.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-12">
                <div class="profile-card mb-3">
                  <div class="common-title d-flex justify-content-between">
                    <h2 class="card-title mb-0">Requirements</h2>

                  </div>
                  <div class="profile-body p-3">
                    <ul class="requirement-type">
                      <li class="requirement-list"><i class='bx bx-right-arrow-alt'></i>
                        At least a Bachelor's degree in Software Engineering, Computer
                        Science, or other related fields
                      </li>
                      <li class="requirement-list"><i class='bx bx-right-arrow-alt'></i>
                        Proven past experience in software and application development,
                        preferably as a .NET Developer
                      </li>
                      <li class="requirement-list"><i class='bx bx-right-arrow-alt'></i>
                        Experience of working with SQL Server, ASP.NET framework and
                        architectural patterns such as MVC (Model-View-Controller)
                      </li>
                      <li class="requirement-list"><i class='bx bx-right-arrow-alt'></i>
                        Sound knowledge of .NET languages (especially Visual Basic .NET, C#)
                        and CSS3/HTML5
                      </li>
                      <li class="requirement-list"><i class='bx bx-right-arrow-alt'></i>
                        Familiarity with Agile methodologies

                      </li>
                      <li class="requirement-list"><i class='bx bx-right-arrow-alt'></i>
                        Sound understanding of architecture styles and APIs (eg. RPC, REST)
                      </li>
                      <li class="requirement-list"><i class='bx bx-right-arrow-alt'></i>
                        Experience with troubleshooting procedures
                      </li>
                      <li class="requirement-list"><i class='bx bx-right-arrow-alt'></i>
                        Ability to take quick decisions while working in a fast-paced
                        environment
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-12">
                <div class="profile-card mb-3">
                  <div class="common-title d-flex justify-content-between">
                    <h2 class="card-title mb-0">Responsibilities </h2>

                  </div>
                  <div class="profile-body p-3">
                    <ul class="requirement-type">
                      <li class="requirement-list"><i class='bx bx-right-arrow-alt'></i>
                        Producing code using.NET languages such as C# and VB.NET
                      </li>
                      <li class="requirement-list"><i class='bx bx-right-arrow-alt'></i>
                        Providing technical support for mobile, web or desktop applications
                      </li>
                      <li class="requirement-list"><i class='bx bx-right-arrow-alt'></i>
                        Upgrading, configuring and debugging existing systems
                      </li>
                      <li class="requirement-list"><i class='bx bx-right-arrow-alt'></i>
                        Collaborating with in-house teams so as to produce and maintain
                        software design/architecture
                      </li>
                      <li class="requirement-list"><i class='bx bx-right-arrow-alt'></i>
                        Developing documentation throughout SDLC (software development
                        life cycle)
                      </li>
                      <li class="requirement-list"><i class='bx bx-right-arrow-alt'></i>
                        Revising, updating, refactoring as well as debugging code
                      </li>
                      <li class="requirement-list"><i class='bx bx-right-arrow-alt'></i>
                        Improving existing software by incorporating latest industry
                        advancements and upgrades
                      </li>
                      <li class="requirement-list"><i class='bx bx-right-arrow-alt'></i>
                        Testing and deploying applications, software, and systems
                      </li>
                      <li class="requirement-list"><i class='bx bx-right-arrow-alt'></i>
                        Providing technical support to end-users so as to increase the
                        functionality of software products
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-12">
                <div class="d-flex justify-content-end">
                  <a href="javascript:void(0)" class="btn-get-started">Apply</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
            <div class="profile-card">
              <div class="profile-card-body">
                <h2 class="card-title fontSmall">Another Job</h2>
                <div class="related-jobs">
                  <div class="related-brand">
                    <figure>
                      <img src="assets/img/14.png" />
                    </figure>
                    <h2>Echobind</h2>
                  </div>
                  <ul class="pc-type related-jd-type mt-2">
                    <li class="col-lg-12 col-md-12 col-12">
                      <label>Industry:</label>
                      <div class="flex-baseline">
                        <span class="pc-text">Information Technology and Services</span>
                      </div>
                    </li>
                    <li class="col-lg-6 col-md-6 col-12">
                      <label>Company Size:</label>
                      <div class="flex-baseline">
                        <span class="pc-text">11-30</span>
                      </div>
                    </li>
                    <li class="col-lg-6 col-md-6 col-12">
                      <label>Engineering Team:</label>
                      <div class="flex-baseline">
                        <span class="pc-text">11-30</span>
                      </div>
                    </li>
                    <li class="col-lg-12 col-md-12 col-12">
                      <label>About Echobind LLC:</label>
                      <div class="flex-baseline">
                        <span class="pc-text">We're Echobind</span>
                        <span class="pc-text">A full-service digital agency providing Strategy, Creative and
                          Engineering!</span>
                        <a href="javascript:void(0)" class="common-link">https://echobind.com/services</a>
                      </div>
                    </li>
                    <li class="col-lg-12 col-md-12 col-12">
                      <label>Why you should join:</label>
                      <div class="flex-baseline">
                        <span class="pc-text">Echobind's work comes from a group of human beings who have
                          is better because of these differences, not in spite of them.</span>

                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="about" class="about">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12 col-md-12 col-12 pt-4 pt-lg-0 content section-title">
            <h2>Working on the EASWORKS Platform</h2>
            <p>This is an opportunity to work with a company looking to hire through the EASWORKS Platform. These are
              real, confirmed opportunities with companies
              seeking high-performing technologists - not an anonymous avatar churning out bug fixes in their free time.
            </p>

            <p>If your profile is one of the most competitive among all other applicants to this role, you'll become a
              finalist and eligible to interview. You can track
              the progress of your application on the Your Jobs tab. All interviews are live, online video conversations
              with both the hiring company and a EASWORKS
              representative</p>
            <p class="mb-0">All freelance engagements hired through the platform are managed by EASWORKS on your behalf. While you work with the client and their team, EASWORKS
              stays on board to manage contracts and client expectations, bill the client for the hours you work, and pay you in a timely manner. If you are hired
              for a full time salaried role, Gun.io will help facilitate the interview and job offer process, with no further obligation from either side once the offer is
              accepted. Good Luck!</p>
          </div>
        </div>
      </div>
    </section>
  </div>

<!--Footer-->
<app-footer></app-footer>