  <!----- Header ----->
  <app-header></app-header>
  <!----- Header ----->

  <!--Banner section-->
  <section id="banner-here" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up" data-aos-delay="200">Increase Enterprise Resiliency with a Dynamic Workforce Strategy

          </h1>
          <p data-aos="fade-up" data-aos-delay="400">Strategically blend on-demand Enterprise Application Freelancer
            with existing Enterprise FTE and contractor workforce. Deliver unmatched capacity and skills access across
            your organization.</p>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="500">
            <a href="javascript:void(0)" class="btn-get-started mr-3">Start Hiring</a>
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="fade-up" data-aos-delay="600">
          <img src="assets/img/get-hired/Get-Hired.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>
  </section>
  <!--Banner section End-->


  <!-- Our Service Section -->
  <section id="services" class="services section-bg">
    <div class="container">
      <div class="section-title text-center">
        <h2>KNOW THE PERSON BEHIND THE RESUME</h2>
        <p>We designed our talent profiles to answer the questions to know them 360 degrees from technical and
          personality perspective, so you are one step closer to make hiring decision.</p>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon">
              <img src="assets/img/talent-Endorsements.png" alt="image">
            </div>
            <h4>Endorsements</h4>
            <p>Read what past colleagues
              have to say about their technical competence
              & likes/dislikes to work with each candidate.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon">
              <img src="assets/img/talent-VideoIntroduction.png" alt="image">
            </div>
            <h4>Video Introduction</h4>
            <p>This short video highlights their
              communication style and what's
              important to them as a professional
              and their career aspiration.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 d-flex align-items-stretch mt-lg-0" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon">
              <img src="assets/img/talent-WorkStylePreference.png" alt="image">
            </div>
            <h4>WorkStyle Preference</h4>
            <p>WorkStyle preference to help articulate the different ways people approach their
              work—from core motivations, ability to improve</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon">
              <img src="assets/img/talent-Industrysector.png" alt="image">
            </div>
            <h4>Industry/Sector experience</h4>
            <p>Few Jobs which require complex technical &
              regulatory industries require candidates who
              have spent time and gained knowledge from
              working in a particular industry or sector of the economy.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Our apps Section -->
  <section class="apps-wraper">
    <div class="container">
      <div class="section-title text-center">
        <h2>Browse by Enterprise Application Software (EAS) Talent</h2>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12" data-aos="fade-up" data-aos-delay="100">
          <h2 class="secondary-title">ERP - Enterprise Resource Planning</h2>
          <ul class="app-support-type erpList">
            <li class="app-support-list">
              <a href="AEroles.html">
                <img src="assets/img/language/Oracle-Logo.png" alt="image">
              </a>
            </li>
            <li class="app-support-list">
              <a href="AEroles.html">
                <img src="assets/img/language/sap-one.png" alt="image">
              </a>
            </li>
            <li class="app-support-list">
              <a href="AEroles.html">
                <img src="assets/img/language/Oracle-Logo-jd.png" alt="image">
              </a>
            </li>
            <li class="app-support-list">
              <a href="AEroles.html">
                <img src="assets/img/language/microsoft-d.jpg" alt="image">
              </a>
            </li>
            <li class="app-support-list">
              <a href="AEroles.html">
                <img src="assets/img/language/qad.png" alt="image">
              </a>
            </li>
            <li class="app-support-list">
              <a href="AEroles.html">
                <img src="assets/img/language/infor-syteline-demo.png" alt="image">
              </a>
            </li>
            <li class="app-support-list">
              <a href="AEroles.html">
                <img src="assets/img/language/syspro.png" alt="image">
              </a>
            </li>
            <li class="app-support-list clasetting">
              <a href="javascript:void(0)">
                <span class="cla-setting"><i class='bx bxs-cog'></i>Custom ERP / Legacy Application</span>
              </a>
            </li>
            <li class="app-support-list">
              <a href="AEroles.html">
                <img src="assets/img/language/sage-x3.png" alt="image">
              </a>
            </li>

            <li class="app-support-list">
              <a href="AEroles.html">
                <img src="assets/img/language/ERP-aptean.png" alt="image">
              </a>
            </li>
            <li class="app-support-list">
              <a href="AEroles.html">
                <img src="assets/img/language/ERPcgs.png" alt="image">
              </a>
            </li>
            <li class="app-support-list">
              <a href="AEroles.html">
                <img src="assets/img/language/ERP-cgi.png" alt="image">
              </a>
            </li>
            <li class="app-support-list">
              <a href="AEroles.html">
                <img src="assets/img/language/ERP-datacor.png" alt="image">
              </a>
            </li>
            <li class="app-support-list">
              <a href="AEroles.html">
                <img src="assets/img/language/ERP-p.png" alt="image">
              </a>
            </li>
            <li class="app-support-list">
              <a href="AEroles.html">
                <img src="assets/img/language/ERP-epicor.png" alt="image">
              </a>
            </li>
            <li class="app-support-list">
              <a href="AEroles.html">
                <img src="assets/img/language/ERP-erpnext.png" alt="image">
              </a>
            </li>
            <li class="app-support-list">
              <a href="AEroles.html">
                <img src="assets/img/language/ERP-genius.png" alt="image">
              </a>
            </li>
            <li class="app-support-list">
              <a href="AEroles.html">
                <img src="assets/img/language/ERP-fujitsu.png" alt="image">
              </a>
            </li>
            <li class="app-support-list">
              <a href="AEroles.html">
                <img src="assets/img/language/ERP-ifs.png" alt="image">
              </a>
            </li>
            <li class="app-support-list">
              <a href="AEroles.html">
                <img src="assets/img/language/ERP-infoplus.png" alt="image">
              </a>
            </li>
            <li class="app-support-list">
              <a href="AEroles.html">
                <img src="assets/img/language/ERP-odoo.png" alt="image">
              </a>
            </li>
            <li class="app-support-list">
              <a href="AEroles.html">
                <img src="assets/img/language/ERP-omegacube.png" alt="image">
              </a>
            </li>
            <li class="app-support-list">
              <a href="AEroles.html">
                <img src="assets/img/language/ERP-processpro.png" alt="image">
              </a>
            </li>
            <li class="app-support-list">
              <a href="AEroles.html">
                <img src="assets/img/language/ERP-ramco.png" alt="image">
              </a>
            </li>
          </ul>
          <div class="seemore-option">
            <a class="moreless erpml" href="javascript:void(0)">
              <i class='bx bx-plus'></i> See more ERP skills
            </a>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-12" data-aos="fade-up" data-aos-delay="100">
          <h2 class="secondary-title">CRM - Customer Relationship Management</h2>
          <ul class="app-support-type crmList">
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/crm-salesforce.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/crm-hubspot.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/crm-oraclesales.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/crm-freshsale.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/crm-zoho.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/crm-keap.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/crm-capsule.png" alt="image">
              </a></li>
            <li class="app-support-list clasetting">
              <a href="javascript:void(0)">
                <span class="cla-setting"><i class='bx bxs-cog'></i>Custom CRM / Legacy Application</span>
              </a>
            </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/crm-apptivo.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/crm-sugarcrm.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/crm-md-gp.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/crm-agilecrm.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/crm-bloonmark.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/crm-crmnext.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/crm-md-365.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/crm-infusionsoft.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/crm-insightly.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/crm-methodcrm.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/crm-nean.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/crm-telstra.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/crm-monday.com.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/crm-oraclesiebel.png" alt="image">
              </a></li>
          </ul>
          <div class="seemore-option">
            <a class="moreless crmml" href="javascript:void(0)">
              <i class='bx bx-plus'></i> See more CRM skills
            </a>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-12" data-aos="fade-up" data-aos-delay="100">
          <h2 class="secondary-title">PLM - Product Lifecycle Management</h2>
          <ul class="app-support-type plmList">
            <li class="app-support-list">
              <a href="AEroles.html">
                <img src="assets/img/language/plm-teamcenter.png" alt="image">
              </a>
            </li>
            <li class="app-support-list">
              <a href="AEroles.html">
                <img src="assets/img/language/plm-aras.png" alt="image">
              </a>
            </li>
            <li class="app-support-list">
              <a href="AEroles.html">
                <img src="assets/img/language/plm_Windchill.png" alt="image">
              </a>
            </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/plm-enovia.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/plm-oracleagile.png" alt="image"></a>
            </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/plm-sap.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/plm-arena-logo.png" alt="image">
              </a> </li>
            <li class="app-support-list clasetting">
              <a href="javascript:void(0)">
                <span class="cla-setting"><i class='bx bxs-cog'></i>Custom PLM / Legacy Application</span>
              </a>
            </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/plm-upchain.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/plm_fusionlifecycle.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/plm_propel.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/plm_infovisual.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/plm_openbom.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/plm_lectra.png" alt="image">
              </a> </li>
          </ul>
          <div class="seemore-option">
            <a class="moreless plmml" href="javascript:void(0)">
              <i class='bx bx-plus'></i> See more PLM skills
            </a>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-12" data-aos="fade-up" data-aos-delay="100">
          <h2 class="secondary-title">BI/BA - Business Analysis / Business Intelligence</h2>
          <ul class="app-support-type bibaList">
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/ba-powerbi.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/ba-tableau.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/ba-qlikview.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/ba-cognos.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/ba-oracle-ana.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/ba-tibco.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/ba-sisence.png" alt="image">
              </a></li>
            <li class="app-support-list clasetting">
              <a href="javascript:void(0)">
                <span class="cla-setting"><i class='bx bxs-cog'></i>Custom BI/BA / Legacy Application</span>
              </a>
            </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/ba-sas.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/ba-einstein.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/ba-saplumira.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/ba-splunk.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/ba-zendesk.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/ba-kilipolio.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/ba-pentako.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/ba-clearanalytics.png" alt="image">
              </a></li>
          </ul>
          <div class="seemore-option">
            <a class="moreless bibaml" href="javascript:void(0)">
              <i class='bx bx-plus'></i> See more BI/BA skills
            </a>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-12" data-aos="fade-up" data-aos-delay="100">
          <h2 class="secondary-title">QMS - Quality Management System</h2>
          <ul class="app-support-type qmsList">
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/qms-etq.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/qms-cebos.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/qms-sap.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/qms-qualio.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/qms-iqms.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/qms-qumas.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/qms-mastercontrol.png" alt="image">
              </a></li>
            <li class="app-support-list clasetting">
              <a href="javascript:void(0)">
                <span class="cla-setting"><i class='bx bxs-cog'></i>Custom QMS / Legacy Application</span>
              </a>
            </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/qms-donesafe.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/qms-trackwise.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/qms-ease.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/qms-greenlightguru.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/qms-vault.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/plm-arena-logo.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/plm_propel.png" alt="image">
              </a></li>
          </ul>
          <div class="seemore-option">
            <a class="moreless qmsml" href="javascript:void(0)">
              <i class='bx bx-plus'></i> See more QMS skills
            </a>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-12" data-aos="fade-up" data-aos-delay="100">
          <h2 class="secondary-title">Big Data Platform</h2>
          <ul class="app-support-type bigdataList">
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/bd-saphana.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/bd-vertica.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/bd-1010data.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/bd-amazonwebservice.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/bd-cloudera.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/bd-teradata.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/bd-microsoft.png" alt="image">
              </a></li>
            <li class="app-support-list clasetting">
              <a href="javascript:void(0)">
                <span class="cla-setting"><i class='bx bxs-cog'></i>Custom BDP / Legacy Application</span>
              </a>
            </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/bd-bmmsoft.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/bd-exasol.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/bd-marklogic.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/bd-mapr.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/bd-ibm.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/bd-datastax.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/bd-cognitio.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/etl-domo.png" alt="image">
              </a></li>
          </ul>
          <div class="seemore-option">
            <a class="moreless bigdata" href="javascript:void(0)">
              <i class='bx bx-plus'></i> See more BDP skills
            </a>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-12" data-aos="fade-up" data-aos-delay="100">
          <h2 class="secondary-title">SCM - Supply Chain Management</h2>
          <ul class="app-support-type scmList">
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/scm-sap.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/scm-manhattan.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/scm-oracle-supply.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/scm-gtnexus.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/sage-x3.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/scm-epicar.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/scm-infor.png" alt="image">
              </a></li>
            <li class="app-support-list clasetting">
              <a href="javascript:void(0)">
                <span class="cla-setting"><i class='bx bxs-cog'></i>Custom SCM / Legacy Application</span>
              </a>
            </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/scm-ibmsterling.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/scm-sapariba.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/scm-blueyonde.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/microsoft-d.jpg" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/scm-elementum.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/scm-oraclenetsuite.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/scm-nulogy.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/ERP-odoo.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/scm-quickbooks.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/scm-sapbydesign.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/scm-skuvault.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/scm-snapfullfil.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/scm-syspro.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/scm-omp.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/scm-tuple.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/scm-plex.png" alt="image">
              </a></li>
          </ul>
          <div class="seemore-option">
            <a class="moreless scmml" href="javascript:void(0)">
              <i class='bx bx-plus'></i> See more SCM skills
            </a>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-12" data-aos="fade-up" data-aos-delay="100">
          <h2 class="secondary-title">HRMS - Human Resource Management System</h2>
          <ul class="app-support-type hrmsList">
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/hrms-adpvantage.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/hrms-cornerstone.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/hrms-ceridian.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/hrms-sap.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/hrms-paycor.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/hrms-oracle.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/hrms-sagepeople.png" alt="image">
              </a></li>
            <li class="app-support-list clasetting">
              <a href="javascript:void(0)">
                <span class="cla-setting"><i class='bx bxs-cog'></i>Custom HRMS / Legacy Application</span>
              </a>
            </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/hrms-sapsuccessfll.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/hrms-sumtotal.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/hrms-corehr.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/hrms-kronosl.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/Oracle-Logo.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/hrms-talentsoft.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/hrms-saba.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/hrms-ukgpro.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/hrms-asure.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/hrms-auzmar.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/hrms-criterion.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/hrms-datis.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/hrms-infocloudsuite.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/hrms-paylocity.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/hrms-mhr.png" alt="image">
              </a></li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/hrms-jazzhr.png" alt="image">
              </a></li>
          </ul>
          <div class="seemore-option">
            <a class="moreless hrmllink" href="javascript:void(0)">
              <i class='bx bx-plus'></i> See more HRMS skills
            </a>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-12" data-aos="fade-up" data-aos-delay="100">
          <h2 class="secondary-title">CMS - Content Management System</h2>
          <ul class="app-support-type cmsList">
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/cms-wordpress.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/cms-alfresco.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/cms-bitrix24.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/cms-conga.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/cms-box.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/cms-sharepointonline.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/cms-drupal.png" alt="image">
              </a> </li>
            <li class="app-support-list clasetting">
              <a href="javascript:void(0)">
                <span class="cla-setting"><i class='bx bxs-cog'></i>Custom CMS / Legacy Application</span>
              </a>
            </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/cms-veeva.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/cms-prezi.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/cms-seimsc.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/cms-flipsnack.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/cms-joomla.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/cms-contentfull.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/cms-webflow.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/cms-craftcms.png" alt="image">
              </a> </li>
          </ul>
          <div class="seemore-option">
            <a class="moreless cmsml" href="javascript:void(0)">
              <i class='bx bx-plus'></i> See more CMS skills
            </a>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-12" data-aos="fade-up" data-aos-delay="100">
          <h2 class="secondary-title">LMS - Learning Management System</h2>
          <ul class="app-support-type lmsList">
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/lms-talentlms.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/lms-saplitmos.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/lms-ispring.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/lms-topyx.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/hrms-sapsuccessfll.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/hrms-cornerstone.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/lms-absorb.png" alt="image">
              </a> </li>
            <li class="app-support-list clasetting">
              <a href="javascript:void(0)">
                <span class="cla-setting"><i class='bx bxs-cog'></i>Custom LMS / Legacy Application</span>
              </a>
            </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/lms-linkedin.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/lms-lessonly.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/lms-risingsoft.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/lms-canvas.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/lms-comevo.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/lms-totara.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/lms-sabatalentspace.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/lms-miclearn.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/lms-mindflash.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/lms-moodle.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/hrms-sumtotal.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/hrms-paylocity.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/lms-meridian.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/hrms-talentsoft.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/lms-powerdms.png" alt="image">
              </a> </li>
          </ul>
          <div class="seemore-option">
            <a class="moreless lmsml" href="javascript:void(0)">
              <i class='bx bx-plus'></i> See more LMS skills
            </a>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-12" data-aos="fade-up" data-aos-delay="100">
          <h2 class="secondary-title">MES - Manufacturing Execution System</h2>
          <ul class="app-support-type mesList">
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/mes-simensopcenter.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/mes-appliedmat.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/mes-aspentech.png" alt="image">
              </a> </li>

            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/mes-cogiscan.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/mes-factorytalk.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/mes-forcam.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/mes-leading2lean.png" alt="image">
              </a> </li>
            <li class="app-support-list clasetting">
              <a href="javascript:void(0)">
                <span class="cla-setting"><i class='bx bxs-cog'></i>Custom MES / Legacy Application</span>
              </a>
            </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/mes-abb.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/qms-sap.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/mes-sepasoft.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/mes-smarfactory.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/mes-statii.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/mes-syncade.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/mes-tulip.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/mes-nomudafactory.png" alt="image">
              </a> </li>
          </ul>
          <div class="seemore-option">
            <a class="moreless mesml" href="javascript:void(0)">
              <i class='bx bx-plus'></i> See more MES skills
            </a>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-12" data-aos="fade-up" data-aos-delay="100">
          <h2 class="secondary-title">ETL Tools</h2>
          <ul class="app-support-type etlList">
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/etl-stata.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/etl-amazonredshit.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/etl-sapbusinessobject.png" alt="image">
              </a> </li>

            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/etl-exago.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/ba-sisence.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/etl-ifttt.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/etl-dundas.png" alt="image">
              </a> </li>
            <li class="app-support-list clasetting">
              <a href="javascript:void(0)">
                <span class="cla-setting"><i class='bx bxs-cog'></i>Custom ETL / Legacy Application</span>
              </a>
            </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/etl-tibco.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/etl-domo.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/ba-pentako.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/etl-targit.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/etl-ibi.png" alt="image">
              </a> </li>
            <li class="app-support-list"><a href="AEroles.html">
                <img src="assets/img/language/etl-board.png" alt="image">
              </a> </li>
          </ul>
          <div class="seemore-option">
            <a class="moreless etlml" href="javascript:void(0)">
              <i class='bx bx-plus'></i> See more ETL skills
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="sample-preview-profile section-bg">
    <div class="container">
      <div class="section-title text-center">
        <h2>Sample Preview Profile</h2>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <div class="spp-card">
            <form>
              <div class="row">
                <div class="col-lg-2 col-md-2 col-12">
                  <div class="spp-form-group">
                    <figure>
                      <img src="assets/img/profile.jpg" />
                    </figure>
                  </div>
                </div>
                <div class="col-lg-10 col-md-10 col-12">
                  <div class="row">
                    <div class="col-lg-3 col-md-3 col-12">
                      <div class="spp-form-group">
                        <label>Name</label>
                        <div class="spp-input-group">
                          <span>Jone Doe</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-12">
                      <div class="spp-form-group">
                        <label>Title</label>
                        <div class="spp-input-group d-flex">
                          <i class='bx bx-user-circle comIcon'></i><span>Teachnical Lead</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-12">
                      <div class="spp-form-group">
                        <label>Years of Experience</label>
                        <div class="spp-input-group d-flex">
                          <i class='bx bx-check-shield comIcon'></i><span>20+</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-12">
                      <div class="spp-form-group">
                        <label>Verified</label>
                        <div class="spp-input-group">
                          <div class="checkbox-group1">
                            <input type="checkbox" id="verified" checked />
                            <label for="verified">Reference Check</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-12">
                      <div class="spp-form-group">
                        <label>Reference Assessment</label>
                        <div class="spp-input-group">
                          <ul class="star">
                            <li><i class='bx bxs-star'></i></li>
                            <li><i class='bx bxs-star'></i></li>
                            <li><i class='bx bxs-star'></i></li>
                            <li><i class='bx bxs-star'></i></li>
                            <li><i class='bx bxs-star'></i></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-12">
                      <div class="spp-form-group">
                        <label>Looking For</label>
                        <div class="spp-input-group">
                          <div class="checkbox-group1">
                            <input type="checkbox" id="lookinfor" checked />
                            <label for="lookinfor">Full Time Role</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-12">
                      <div class="spp-form-group">
                        <label>Enterprise Application</label>
                        <div class="spp-input-group">
                          <span><strong>PLM</strong> - Teamcenter</span>
                          <span><strong>ERP</strong> - SAP</span>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-12">
                      <div class="spp-form-group">
                        <label>Work Style</label>
                        <div class="spp-input-group">
                          <div class="spp-workstyle-review">
                            <div class="ws-chatmap">
                              <ul class="ws-chattype">
                                <li class="ws-bar ws-blue-1">
                                  <div class="ws-bar-top ws-top-1"></div>
                                  <div class="ws-bar-bottom ws-bottom-1"></div>
                                  <span class="ws-value ws-v-1">4</span>
                                </li>
                                <li class="ws-bar ws-blue-2">
                                  <div class="ws-bar-top ws-top-2"></div>
                                  <div class="ws-bar-bottom ws-bottom-2"></div>
                                  <span class="ws-value ws-v-2">3</span>
                                </li>
                                <li class="ws-bar ws-blue-3">
                                  <div class="ws-bar-top ws-top-3"></div>
                                  <div class="ws-bar-bottom ws-bottom-3"></div>
                                  <span class="ws-value ws-v-3">2</span>
                                </li>
                                <li class="ws-bar ws-blue-4">
                                  <div class="ws-bar-top ws-top-4"></div>
                                  <div class="ws-bar-bottom ws-bottom-4"></div>
                                  <span class="ws-value ws-v-4">1</span>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="spp-workstyle-content">
                            <p>Your value ciritical thinking and maintain a commitment to your own standards</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                      <div class="spp-form-group">
                        <label>Skills</label>
                        <div class="spp-input-group">
                          <ul class="app-support-type epe-type">
                            <li class="app-support-list">
                              <span>React/Node</span>
                            </li>
                            <li class="app-support-list">
                              <span>Agile</span>
                            </li>
                            <li class="app-support-list">
                              <span>Angular</span>
                            </li>
                            <li class="app-support-list">
                              <span>Linux</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="apptalent-connect">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 col-12 order-1 order-lg-2 hero-img text-left">
          <div class="apptalent-export-content talktous-content">
            <h1 class="text-white text-left">Get Started with EASWORKS</h1>
            <div class="talentshalf d-flex">
              <a href="javascript:void(0)" class="applytojoin-btn whyapp-applytojoin w-auto mr-2">Hire Now</a>
              <a href="javascript:void(0)" class="applytojoin-btn whyapp-applytojoin w-auto bg-white text-dark"> Apply As Freelancer</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12 order-1 order-lg-2 hero-img text-center" data-aos="fade-up"
          data-aos-delay="600">
          <img src="assets/img/Enterprise-Application.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>
  </section>


  <!--Footer-->
  <app-footer></app-footer>