  <!----- Header ----->
  <app-header></app-header>
  <!----- Header ----->
  <div class="common-space">
    <div class="login-wraper">
      <div class="container">
        <div class="row flex-row-reverse">
          <div class="col-lg-5 col-md-5 col-12">
            <div class="login-box">
              <div class="tabs-view">
                <ul class="customer-type d-flex">
                  <li class="customer-list">
                    <a [routerLink]="['/Sign-Up']">Talent</a>
                  </li>
                  <li class="customer-list">
                    <a class="active" [routerLink]="['/Employer-Signup']">Employer</a>
                  </li>
                </ul>
                <div class="job-tabs-body">
                  <h1 class="login-te-title">Try EASWORKS for free</h1>
                  <p class="login-te-para">We have thousands of qualified candidates waiting for you!</p>
                  <div class="job-firsttabs" id="secondtab">
                    <form>
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                          <div class="login-form-group">
                            <label class="label-text">First Name</label>
                            <div class="login-form-input">
                              <input type="text" placeholder="First Name" class="inputview" />
                              <span class="error-message d-none">Please enter your Fullname</span>
                              <i class='bx bxs-user i-icons'></i>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                          <div class="login-form-group">
                            <label class="label-text">Last Name</label>
                            <div class="login-form-input">
                              <input type="text" placeholder="Last Name" class="inputview" />
                              <span class="error-message d-none">Please enter your Lastname</span>
                              <i class='bx bxs-user i-icons'></i>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-12">
                          <div class="login-form-group">
                            <label class="label-text">Work Email Address</label>
                            <div class="login-form-input">
                              <input type="text" placeholder="Email Address" class="inputview" />
                              <span class="error-message d-none">Please enter your email address</span>
                              <i class='icofont-email i-icons'></i>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-12">
                          <div class="login-form-group">
                            <label class="label-text">Password</label>
                            <div class="login-form-input">
                              <input type="password" placeholder="Password" class="inputview" />
                              <span class="error-message  d-none">Please enter your Password</span>
                              <i class='bx bxs-lock-alt i-icons'></i>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-12">
                          <div class="login-form-group">
                            <label class="label-text">Confirm Password</label>
                            <div class="login-form-input">
                              <input type="password" placeholder="Confirm Password" class="inputview" />
                              <span class="error-message  d-none">Please enter your Confirm Password</span>
                              <i class='bx bxs-lock-alt i-icons'></i>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-12">
                          <div class="login-form-group">
                            <div class="checkbox-group">
                              <input type="checkbox" id="terms-condition" />
                              <label for="terms-condition">You acknowledge that the EASWORKS screening process is
                                confidential
                                and that you will not
                                publicly disclose: details about this process. By submitting you acknowledge that you
                                ilave read an agreed to our<a href="javascript:void(0)">Terms of Use</a> and <a
                                  href="javascript:void(0)">Privacy Policy</a> and <a href="javascript:void(0)">Cookie
                                  Policy</a></label>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-12">
                          <div class="login-form-group">
                            <button type="button" class="loginbtn">Get Started</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-7 col-md-7 col-12">
            <div class="signin-content">
              <h1>Reasons You'll Love EASWORKS</h1>
              <ul class="twowaysstreet-type mt-3 p-0 mb-0">
                <li><i class="icofont-tick-mark"></i>Top Talents -Hire senior pre-vetted remote Enterprise Application
                  developers with strong technical and communication skills at unbeatable prices, ready to work in your
                  time zone.</li>
                <li><i class="icofont-tick-mark"></i>Effective collaboration-Enterprise Application Development is our
                  DNA, and we know what it takes to make you success.</li>
                <li><i class="icofont-tick-mark"></i>High quality/cost ratio</li>
                <li><i class="icofont-tick-mark"></i>Zero risk -If you decide to stop within one week, you pay
                  nothing.</li>
              </ul>
              <h1>Get started and Hire the Right Enterprise Application Talent.</h1>
              <div class="signup-talent-img mt-4">
                <img src="assets/img/Employer_Login.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>