  <!----- Header ----->
  <app-header></app-header>
  <!----- Header ----->

  <div class="common-space">
    <!--Why AppTalent-->
    <div class="whyapptalent-full-wraper">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h1 data-aos="fade-up" data-aos-delay="200" class="main-title">Innovation-led approach </h1>

            <p class="common-para">Helps you to Develop or Implement a modern,
              agile & resilient. Enterprise applications to reinvent your
              enterprise. application portfolio, making use of emerging
              technology and building with speed and agility to enable you to meet business needs, now and in the
              future.</p>
            <div class="d-flex mt-3">
              <a href="javascript:void(0)" class="btn-get-started mr-3">Start Innovation-led approach</a>
            </div>
          </div>
          <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="fade-up" data-aos-delay="600">
            <img src="assets/img/usercase-1.png" class="img-fluid animated" alt="">
          </div>
        </div>
      </div>
    </div>

    <!---Building Enterprise Team in our DNA-->
    <section class="team-dna section-bg">
      <div class="container">
        <div class="section-title text-center">
          <h2>Advantages of using EASWORKS</h2>
          <p>Our flexible engagement models allow to have access to some of Top Enterprise Tech Leaders in your
            enterprise domain to help and transform your business.</p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-12 team-dna d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="ourvalue-grid beteam-dna job-border">
              <img src="assets/img/usecase-fmm.png" />
              <div class="beteam-box">
                <h2>Flexible engagement Model</h2>
                <p class="text-center"> Talent as a Service or EAS Project, Road map and provide enterprise application
                  Development plan</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12 team-dna d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="ourvalue-grid beteam-dna">
              <img src="assets/img/usecase-techleaders.png" />
              <div class="beteam-box">
                <h2>Top Enterprise Tech Leaders</h2>
                <p class="text-center">Opportunity to work with Top Enterprise tech expertise specific to your Industry
                  domain</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12 team-dna d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="ourvalue-grid beteam-dna job-border">
              <img src="assets/img/usecase-enterpriseroadman.png" />
              <div class="beteam-box">
                <h2>Enterprise Roadmap</h2>
                <p class="text-center">Aligning to your enterprise</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Key Difference-->
    <section class="key-difference">
      <div class="container">
        <div class="section-title text-left">
          <h2>How Innovation works</h2>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-12" data-aos="fade-right" data-aos-delay="200">
            <ul class="app-support-type epe-type  mb-4">
              <li class="app-support-list">
                <span>ERP</span>
              </li>
              <li class="app-support-list">
                <span>PLM</span>
              </li>
              <li class="app-support-list">
                <span>Big Data</span>
              </li>
              <li class="app-support-list">
                <span>HRM</span>
              </li>
              <li class="app-support-list">
                <span>LMS</span>
              </li>
              <li class="app-support-list">
                <span>CRM</span>
              </li>
              <li class="app-support-list">
                <span>MES</span>
              </li>
              <li class="app-support-list">
                <span>SCM</span>
              </li>
              <li class="app-support-list">
                <span>DW/EDW</span>
              </li>
              <li class="app-support-list">
                <span>ETL</span>
              </li>
              <li class="app-support-list">
                <span>QMS</span>
              </li>
              <li class="app-support-list">
                <span>IOT</span>
              </li>
              <li class="app-support-list">
                <span>MDM</span>
              </li>
              <li class="app-support-list">
                <span>CMS</span>
              </li>
              <li class="app-support-list">
                <span>EAM</span>
              </li>
              <li class="app-support-list">
                <span>DBA</span>
              </li>
              <li class="app-support-list">
                <span>BI</span>
              </li>
              <li class="app-support-list">
                <span>CMS</span>
              </li>
              <li class="app-support-list">
                <span>Custom Application</span>
              </li>
              <li class="app-support-list">
                <span>EAI</span>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </section>

    <section class="twowaystreet-wraper section-bg">
      <div class="container">
        <div class="section-title text-center">
          <h2>The right talent for the job</h2>
          <p>Our Enterprise Application freelancers have years of experience rapidly Innovation led approaches</p>
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-4 col-12">
              <div class="candidate_list">
                <div class="candidate-thumb">
                  <img src="assets/img/profile.jpg" alt="logo" />
                </div>
                <div class="candidate__content">
                  <h5>David Jhon Warner</h5>
                  <span>Web Designer, 4 Years</span>
                  <p>Co-Founder of YC Startup, EIR at the VR fund</p>
                  <div class="candidate_skills">
                    <a href="javascript:void(0)">Photoshop</a>
                    <a href="javascript:void(0)">Sketch</a>
                    <a href="javascript:void(0)">Illustrator</a>
                  </div>
                  <h6>EASWORKS Since 2015</h6>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
              <div class="candidate_list">
                <div class="candidate-thumb">
                  <img src="assets/img/profile.jpg" alt="logo" />
                </div>
                <div class="candidate__content">
                  <h5>Paul S</h5>
                  <span>Product Manager, 30 Years</span>
                  <p>Co-Founder of YC Startup, EIR at the VR fund</p>
                  <div class="candidate_skills">
                    <a href="javascript:void(0)">Photoshop</a>
                    <a href="javascript:void(0)">UX</a>
                    <a href="javascript:void(0)">Illustrator</a>
                  </div>
                  <h6>EASWORKS Since 2015</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

  <section class="apptalent-connect">
    <div class="container">
      <div class="apptalent-export-content talktous-content text-center">
        <h1 class="text-white">Helps you to Transform your business with new emerging technologies</h1>
        <a href="javascript:void(0)" class="applytojoin-btn usecasebtn d-inline-flex">Start Innovation - led
          approach</a>
      </div>
    </div>
  </section>

  <!--Footer-->
  <app-footer></app-footer>