  <!----- Header ----->
  <app-header></app-header>
  <!----- Header ----->

  <div class="common-space">
    <!--Why AppTalent-->
    <section class="gethire-wraper">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h1 data-aos="fade-up" data-aos-delay="200" class="main-title">
              TRUE ENTERPRISE APPLICATION TEAM EXTENSION </h1>
            <p data-aos="fade-up" data-aos-delay="400" class="common-para">Our customers leverage the EASWORKS network
              of vetted Enterprise Application talent to use one or a combination of the flexible engagement models to
              supercharge their teams’ productivity and to achieve the enterprise project goals.</p>
              <div class="d-flex mt-3" data-aos="fade-up" data-aos-delay="500">
                <a href="javascript:void(0)" class="btn-get-started mr-3">Start Hiring</a>
              </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-up" data-aos-delay="600">
            <img src="assets/img/how/bannerimg.png" class="img-fluid animated" alt="">
          </div>
        </div>
      </div>
    </section>

    <section class="how-understading-wraper section-bg">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-6 col-12" data-aos="fade-right" data-aos-delay="200">
            <div class="how-image">
              <img src="assets/img/how/understanding.svg" class="img-fluid" />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12" data-aos="fade-left" data-aos-delay="200">
            <div class="how-Under-content">
              <div class="plat-step text-center">
                <span>01</span>
              </div>
              <h1>Understand your Enterprise Application Talent & Projects needs</h1>
              <p>Our Enterprise Application expert takes a deep dive into your technical needs, culture, and long-term
                goals to propose best suited engagement model.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="how-understading-wraper">
      <div class="container">
        <div class="row align-items-center flex-row-reverse">
          <div class="col-lg-6 col-md-6 col-12" data-aos="fade-left" data-aos-delay="200">
            <div class="how-image">
              <img src="assets/img/how/sourcing.svg" class="img-fluid" />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12" data-aos="fade-right" data-aos-delay="200">
            <div class="how-Under-content">
              <div class="plat-step text-center">
                <span>02</span>
              </div>
              <h1>Find matches in our Enterprise Application Network</h1>
              <p>We map your Enterprise Application project requirements to our network, and quickly shortlist the best
                candidates.</p>
              <p>With our deep roster and extensive network, chances are we can provide the Enterprise Application
                technical talent you need.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="how-understading-wraper section-bg">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-6 col-12" data-aos="fade-right" data-aos-delay="200">
            <div class="how-image">
              <img src="assets/img/how/review-candidate.png" class="img-fluid" />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12" data-aos="fade-left" data-aos-delay="200">
            <div class="how-Under-content">
              <div class="plat-step text-center">
                <span>03</span>
              </div>
              <h1>Review Potential candidate </h1>
              <p>We review most promising candidates with you
                to find the perfect fit based on their experience, enterprise application skill, specific Industry
                experience, cost, communication skills, personality, and availability.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="how-understading-wraper">
      <div class="container">
        <div class="row align-items-center flex-row-reverse">
          <div class="col-lg-6 col-md-6 col-12" data-aos="fade-left" data-aos-delay="200">
            <div class="how-image h-auto">
              <img src="assets/img/how/engagement.svg" class="img-fluid" />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12" data-aos="fade-right" data-aos-delay="200">
            <div class="how-Under-content">
              <div class="plat-step text-center">
                <span>04</span>
              </div>
              <h1>Engagement</h1>
              <p>After shortlisting Candidates, you decide who you want to interview, and we'll arrange a virtual
                meeting.</p>
              <p>Once matched & you're ready, we sign a contract, and each Enterprise Application Talent becomes a part
                of your team.</p>
              <p>o If you're not satisfied after working for a 1-week trial period, you have no obligation to pay.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="how-understading-wraper section-bg">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-6 col-12" data-aos="fade-right" data-aos-delay="200">
            <div class="how-image h-auto">
              <img src="assets/img/how/onboarding.png" class="img-fluid" />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12" data-aos="fade-left" data-aos-delay="200">
            <div class="how-Under-content">
              <div class="plat-step text-center">
                <span>05</span>
              </div>
              <h1>Facilitate Talent onboarding</h1>
              <p>Helping our clients onboard Enterprise Application talents is just something we do routinely.</p>
              <p>We have facilitated remote onboarding for hundreds of engineers for many companies of different size (
                large, small & start-ups).</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="apptalent-connect grow-erpteam">
      <div class="container position-relative">
        <div class="apptalent-export-content talktous-content">
          <h1 class="text-white">Grow your Enterprise Application team on demand with EAS global talent today.</h1>
          <p class="mb-4">Tell us what you are looking for, we’ll take care of the rest.</p>
          <a href="javascript:void(0)" class="applytojoin-btn bg-white text-dark">Hire Talent</a>
        </div>
      </div>
    </section>

    <section class="apps-wraper">
      <div class="container">
        <div class="section-title text-center">
          <h2>EASWORKS flexible engagement model helps to scale on demand</h2>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-12 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="apptalents-flex">
              <img src="assets/img/work-with-freelancer-shor-term.png" alt="image">
              <h1>Freelancers On-Demand</h1>
              <div class="apptalent-body">
                <div class="twowaystreet-center">
                  <ul class="twowaysstreet-type">
                    <li><i class="icofont-tick-mark"></i>Verified, Proven Talent</li>
                    <li><i class="icofont-tick-mark"></i>Hard to Accesss Skills</li>
                    <li><i class="icofont-tick-mark"></i>Full or Fractional Time</li>
                    <li><i class="icofont-tick-mark"></i>Work Directly with the Talent</li>
                    <li><i class="icofont-tick-mark"></i>Drastically Reduce Ramp</li>
                    <li><i class="icofont-tick-mark"></i>Remote Collaboration Experts</li>
                  </ul>
                </div>
              </div>
              <div class="get-startedbtn">
                <a href="javascript:void(0)" class="btn-get-started pl-3 pr-3">Get Started</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12  d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="apptalents-flex">
              <img src="assets/img/work-with-freelancer-long-term.png" alt="image">
              <h1>Enterprise Application Project</h1>
              <div class="apptalent-body">
                <div class="twowaystreet-center">
                  <ul class="twowaysstreet-type">
                    <li><i class="icofont-tick-mark"></i>Part or Full Projects, Done Right</li>
                    <li><i class="icofont-tick-mark"></i>Specialized Talent Throughout</li>
                    <li><i class="icofont-tick-mark"></i>Collaboration Platform Included</li>
                    <li><i class="icofont-tick-mark"></i>Flat, Transparent Pricing</li>
                    <li><i class="icofont-tick-mark"></i>Platform Success Manager Provided</li>
                    <li><i class="icofont-tick-mark"></i>3x Faster Delivery</li>
                  </ul>
                </div>
              </div>
              <div class="get-startedbtn">
                <a href="javascript:void(0)" class="btn-get-started pl-3 pr-3">Get Started</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12  d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="apptalents-flex">
              <img src="assets/img/work-with-freelancer-salaryemp.png" alt="image" class="img-defultSize">
              <h1>Hire - Full Time Employee</h1>
              <div class="apptalent-body">
                <div class="twowaystreet-center">
                  <ul class="twowaysstreet-type">
                    <li><i class="icofont-tick-mark"></i>Competitive Compensation</li>
                    <li><i class="icofont-tick-mark"></i>Available Benefits</li>
                    <li><i class="icofont-tick-mark"></i>Long-Term Engagements</li>
                    <li><i class="icofont-tick-mark"></i>Career Roadmap</li>
                  </ul>
                </div>
              </div>
              <div class="get-startedbtn">
                <a href="javascript:void(0)" class="btn-get-started pl-3 pr-3">Get Started</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="apptalent-connect">
      <div class="container">
        <div class="apptalent-export-content talktous-content">
          <h1 class="text-white">Looking for a Application Experts</h1>
          <a href="javascript:void(0)" class="applytojoin-btn">Get started</a>
        </div>
      </div>
    </section>
  </div>

  <!--Footer-->
  <app-footer></app-footer>