<!----- Header ----->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <h1 class="logo mr-auto">
        <a class="black-logo" [routerLink]="['/index']">
          <img src="assets/img/white-logo.png" />
        </a>
        <a class="white-logo" [routerLink]="['/index']">
          <img src="assets/img/black-logo.png" />
        </a>
      </h1>
      <nav class="nav-menu profile-creat-nav d-none d-lg-block">
        <ul>
          <li><a class="active" href="profile.html">Profile</a></li>
          <li><a href="workskill.html">Workskill</a></li>
          <li><a href="yourjobs.html">Your Jobs</a></li>
          <li><a href="interviewsList.html">Interviews</a></li>
          <li class="user-details dropdown">
            <a class="user-icon dropdown-toggle" href="javascript:void(0)" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class='bx bxs-user-circle'></i>
            </a>
            <div class="user-dropdown dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="javascript:void(0)"><i class='bx bxs-cog'></i>Settings</a>
              <a class="dropdown-item" href="javascript:void(0)"><i class='bx bx-help-circle'></i>Help</a>
              <a class="dropdown-item" href="javascript:void(0)"><i class='bx bx-log-in'></i>Logout</a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <!----- Header ----->

  <div class="common-space">
    <section class="workstyle-profile">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-12">
            <div class="profile-card mb-3">
              <div class="profile-card-body">
                <h2 class="card-title fontSmall">Your Workskill</h2>
                <div class="workstyle-profile-details">
                  <p class="common-para">These results show you as a primary Four with a secondary style of Three
                    The style you are least in these results is Two</p>
                  <div class="ws-chatmap">
                    <ul class="ws-chattype">
                      <li class="ws-bar ws-blue-1">
                        <div class="ws-bar-top ws-top-1"></div>
                        <div class="ws-bar-bottom ws-bottom-1"></div>
                        <span class="ws-value ws-v-1">4</span>
                      </li>
                      <li class="ws-bar ws-blue-2">
                        <div class="ws-bar-top ws-top-2"></div>
                        <div class="ws-bar-bottom ws-bottom-2"></div>
                        <span class="ws-value ws-v-2">3</span>
                      </li>
                      <li class="ws-bar ws-blue-3">
                        <div class="ws-bar-top ws-top-3"></div>
                        <div class="ws-bar-bottom ws-bottom-3"></div>
                        <span class="ws-value ws-v-3">2</span>
                      </li>
                      <li class="ws-bar ws-blue-4">
                        <div class="ws-bar-top ws-top-4"></div>
                        <div class="ws-bar-bottom ws-bottom-4"></div>
                        <span class="ws-value ws-v-4">1</span>
                      </li>
                    </ul>
                  </div>
                  <p class="common-para">You value critical thinking and maintain a commitment to
                    your own high standards. Others may see you as serious
                    distant and deeply connected to your own thoughts. You
                    prefer private or solitary activities rather than working with
                    others. You strive for perfection and value an objective
                    logical approach when it comes to interactions with others.
                    You are more likely to succeed in environments where
                    performance standards and objectives are clearly defined
                    You tend to have a realistic evaluation of others and are
                    typically influenced by the opinions of others.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
            <div class="profile-card">
              <div class="profile-card-body">
                <h2 class="card-title fontSmall">Dimension</h2>
                <div class="ws-dimension">
                  <ul class="ws-dimension-type">
                    <li class="ws-dimension-list">
                      <div class="dimension-line">
                        <span class="dimension-bar"></span>
                      </div>
                      <span class="dimension-preview lftpv">Competitive</span>
                      <span class="dimension-preview rhtpv">Cooperative</span>
                    </li>
                    <li class="ws-dimension-list">
                      <div class="dimension-line">
                        <span class="dimension-bar"></span>
                      </div>
                      <span class="dimension-preview lftpv">Assertive</span>
                      <span class="dimension-preview rhtpv">Laid-back</span>
                    </li>
                    <li class="ws-dimension-list">
                      <div class="dimension-line">
                        <span class="dimension-bar"></span>
                      </div>
                      <span class="dimension-preview lftpv">Defiant</span>
                      <span class="dimension-preview rhtpv">Peaceful</span>
                    </li>
                    <li class="ws-dimension-list">
                      <div class="dimension-line">
                        <span class="dimension-bar"></span>
                      </div>
                      <span class="dimension-preview lftpv">Pioneering</span>
                      <span class="dimension-preview rhtpv">Agreeable</span>
                    </li>
                    <li class="ws-dimension-list">
                      <div class="dimension-line">
                        <span class="dimension-bar"></span>
                      </div>
                      <span class="dimension-preview lftpv">Animated</span>
                      <span class="dimension-preview rhtpv">Soft-spoken</span>
                    </li>
                    <li class="ws-dimension-list">
                      <div class="dimension-line">
                        <span class="dimension-bar"></span>
                      </div>
                      <span class="dimension-preview lftpv">Adventurous</span>
                      <span class="dimension-preview rhtpv">Cautious</span>
                    </li>
                    <li class="ws-dimension-list">
                      <div class="dimension-line">
                        <span class="dimension-bar"></span>
                      </div>
                      <span class="dimension-preview lftpv">Convincing</span>
                      <span class="dimension-preview rhtpv">Restrained</span>
                    </li>
                    <li class="ws-dimension-list">
                      <div class="dimension-line">
                        <span class="dimension-bar"></span>
                      </div>
                      <span class="dimension-preview lftpv">High-spirited</span>
                      <span class="dimension-preview rhtpv">Self-controlled</span>
                    </li>
                    <li class="ws-dimension-list">
                      <div class="dimension-line">
                        <span class="dimension-bar"></span>
                      </div>
                      <span class="dimension-preview lftpv">Talkative</span>
                      <span class="dimension-preview rhtpv">Private</span>
                    </li>
                    <li class="ws-dimension-list">
                      <div class="dimension-line">
                        <span class="dimension-bar"></span>
                      </div>
                      <span class="dimension-preview lftpv">Spontaneous</span>
                      <span class="dimension-preview rhtpv">Planned</span>
                    </li>
                    <li class="ws-dimension-list">
                      <div class="dimension-line">
                        <span class="dimension-bar"></span>
                      </div>
                      <span class="dimension-preview lftpv">Enthusiastic</span>
                      <span class="dimension-preview rhtpv">Methodical</span>
                    </li>
                    <li class="ws-dimension-list">
                      <div class="dimension-line">
                        <span class="dimension-bar"></span>
                      </div>
                      <span class="dimension-preview lftpv">Trusting</span>
                      <span class="dimension-preview rhtpv">Skeptical</span>
                    </li>
                    <li class="ws-dimension-list">
                      <div class="dimension-line">
                        <span class="dimension-bar"></span>
                      </div>
                      <span class="dimension-preview lftpv">Light-hearted</span>
                      <span class="dimension-preview rhtpv">Serious</span>
                    </li>
                    <li class="ws-dimension-list">
                      <div class="dimension-line">
                        <span class="dimension-bar"></span>
                      </div>
                      <span class="dimension-preview lftpv">Impatient</span>
                      <span class="dimension-preview rhtpv">Patient</span>
                    </li>
                    <li class="ws-dimension-list">
                      <div class="dimension-line">
                        <span class="dimension-bar"></span>
                      </div>
                      <span class="dimension-preview lftpv">Lenient</span>
                      <span class="dimension-preview rhtpv">Strict</span>
                    </li>
                    <li class="ws-dimension-list">
                      <div class="dimension-line">
                        <span class="dimension-bar"></span>
                      </div>
                      <span class="dimension-preview lftpv">Accepting</span>
                      <span class="dimension-preview rhtpv">Questioning</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!--Footer-->
  <app-footer></app-footer>