<div class="quiz-wraper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-12 p-0 quiz-content-lft">
          <div class="quiz-lft-form">
            <div class="qlf-imge"><img src="assets/img/employee-quesnaries.png" /></div>
            <h1 class="text-white">Welcome to EASWORKS</h1>
            <p class="text-white">The simplest, fastest way to have access & build teams pre-vetted enterprise
              Application talent with global remote team has never been this simpler.</p>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-12 p-0 quiz-content-rht">
          <div class="quiz-form-wizard">
            
            <div class="quiz-start">
              <div class="quiz-logo">
                <img src="assets/img/workstyle.png" />
              </div>
              <p>Please carefully and honestly answer the following questions to complete you Joining Application.</p>
              <button type="button" class="btn-get-started mt-3">Get Started</button>
            </div>
            <div class="quiz-start-ans d-none">
              <div class="quiz-logo">
                <img src="assets/img/workstyle.png" />
              </div>
              <!--Loading -->
              <div class="top-wizard mb-4">
                <span>0 of 10 completed</span>
                <div class="progress-bar">
                  <div class="ui-progress"></div>
                </div>
              </div>
              <!--Loading -->
              <form>

                <div class="form-wizard-step">

                  <!--Step-1-->
                  <div class="question-steps">
                    <h2 class="main-question">Select your Primary Enterprise Application you like to Hire</h2>
                    <div class="form-wizard-answer">
                      <div class="fw-input-selectlist  mt-4">
                        <!--Input-->
                        <div class="multi-select-dropdown">
                          <ul class="multiselectUlLIst p-0">
                            <li class="dropdown-select">
                              <label>PLM</label>
                              <div class="description ml-3">
                                <span>- Years of Years</span>
                                <input type="text" class="w-20">
                              </div>
                              <div class="description ml-3">
                                <span>Skill Level</span>
                                <input type="text">
                              </div>
                            </li>
                          </ul>
                        </div>
                        <button type="button" class="clearbtn">
                          <i class="icofont-close"></i>
                        </button>
                        <!--Input-->
                      </div>

                      <ul class="form-wizard-type mt-3  d-flex flex-wrap">
                        <li>
                          <a href="javascript:void(0)">ERP</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">PLM</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">BIG DATA</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">HRM</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">LMS</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">CRM</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">MES</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">SCM</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">DW/EDW</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">ETL</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">QMS</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">IOT</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">MDM</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">CMS</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">EAM</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">DBA</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">BI</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">CMS</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">Custom Application</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">EAI</a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <!--Step-2-->
                  <div class="question-steps d-none">
                    <h2 class="main-question">Select your Primary Enterprise Application Software Experience</h2>
                    <div class="form-wizard-answer">
                      <div class="fw-input-selectlist  mt-4">
                        <!--Input-->
                        <div class="multi-select-dropdown">
                          <ul class="multiselectUlLIst p-0">
                            <li class="dropdown-select">
                              <label>Open BOM</label>
                              <div class="description ml-3">
                                <span>- Years of Years</span>
                                <input type="text" class="w-20">
                              </div>
                              <div class="description ml-3">
                                <span>Skill Level</span>
                                <input type="text">
                              </div>
                            </li>
                          </ul>
                        </div>
                        <button type="button" class="clearbtn">
                          <i class="icofont-close"></i>
                        </button>
                        <!--Input-->
                      </div>

                      <ul class="form-wizard-type mt-3  d-flex flex-wrap">
                        <li>
                          <a href="javascript:void(0)">Team Center</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">Aras</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">Arena</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">Fusion Lifecycle</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">Windchill</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">SAP PLM</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">Propel PLM</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">Upchain</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">Enovia</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">Oracle Agile</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">Open BOM</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!--Step-3 -->
                  <div class="question-steps d-none">
                    <h2 class="main-question">Tell us about your company</h2>
                    <div class="form-wizard-answer mt-3">
                      <div class="form-wizard-textarea">
                        <textarea></textarea>
                      </div>
                    </div>
                  </div>

                  <!--Step-4-->
                  <div class="question-steps d-none">
                    <h2 class="main-question">How many people are employed at your company?</h2>
                    <div class="form-wizard-answer">
                      <ul class="form-wizard-type selectarea  mt-4 row">
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)">Less than 10</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)">11 - 50</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)">51 - 200</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)">201 - 1000</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)">More than 1000</a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <!--Step-5-->
                  <div class="question-steps d-none">
                    <h2 class="main-question">Which option best describes the project you are hiring for?</h2>
                    <div class="form-wizard-answer">
                      <ul class="form-wizard-type selectarea  mt-4 row">
                        <li class="col-lg-12 col-md-12 col-12">
                          <a href="javascript:void(0)" class="d-block pl-3 pr-3">It's a new project (From Scratch)</a>
                        </li>
                        <li class="col-lg-12 col-md-12 col-12">
                          <a href="javascript:void(0)" class="d-block pl-3 pr-3">It's an existing project (looking for
                            additional help)</a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <!--Step-6-->
                  <div class="question-steps d-none">
                    <h2 class="main-question">Select your specialization area to be hired</h2>
                    <div class="form-wizard-answer">
                      <ul class="form-wizard-type selectarea  mt-4 row">
                        <li class="col-lg-4 col-md-4 col-12 pr-0">
                          <a href="javascript:void(0)" class="d-block pl-3 pr-3">Program Management</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)" class="d-block pl-3 pr-3">Business Requirement</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12 pl-0">
                          <a href="javascript:void(0)" class="d-block pl-3 pr-3">Database Administration</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12 pr-0">
                          <a href="javascript:void(0)" class="d-block pl-3 pr-3">Development</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)" class="d-block pl-3 pr-3">Design/Solution</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12 pl-0">
                          <a href="javascript:void(0)" class="d-block pl-1 pr-1">Administration / Infrastructure</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12 pr-0">
                          <a href="javascript:void(0)" class="d-block pl-3 pr-3">Customization</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)" class="d-block pl-3 pr-3">Configuration</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12 pl-0">
                          <a href="javascript:void(0)" class="d-block pl-3 pr-3">Support</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12 pr-0">
                          <a href="javascript:void(0)" class="d-block pl-3 pr-3">Development/Dev Ops</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)" class="d-block pl-3 pr-3">Testing</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12 pl-0">
                          <a href="javascript:void(0)" class="d-block pl-3 pr-3">Others</a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <!--Step-7-->
                  <div class="question-steps d-none">
                    <h2 class="main-question">Select your Primary Role</h2>
                    <div class="form-wizard-answer">
                      <ul class="form-wizard-type selectarea  mt-3 row">
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)">Developer</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)">Solution Architect</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)">Project Manager</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)">Enterprise Architect</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)">Support Analyst</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)">Sr. Developer</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)">Business Analyst</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)">Adminstrator</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)">Tech Lead</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)">Trainer</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)">Tech Lead</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)">QA Engineer</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)">Database Engineer</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)">Software Engineer</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)">Front end Engineer</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)">Dev Ops Engineer</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)" class="text-nowrap">Implementation Specialist</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)">Program Manager</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)">Techincal Consultant</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)">Configuration Specialist</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)">Consultant</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)">Sr. Business Analyst</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)">Data Engineer</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)">Development Manager</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)">Back end Engineer</a>
                        </li>

                      </ul>
                    </div>
                  </div>

                  <!--Step-8-->
                  <div class="question-steps d-none">
                    <h2 class="main-question">How much of a designer's time are you looking for?</h2>
                    <div class="form-wizard-answer">
                      <ul class="form-wizard-type selectarea  mt-4 row">
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)">40 Hours/Week</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)">30 Hours/Week</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)">20 Hours/Week</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)">10 Hours/Week or less</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)"> Hire as Full time employee</a>
                        </li>
                        <li class="col-lg-4 col-md-4 col-12">
                          <a href="javascript:void(0)"> I'm not sure</a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <!--Step-9 -->
                  <div class="question-steps d-none">
                    <h2 class="main-question">Duties and responsibilities</h2>
                    <div class="form-wizard-answer mt-3">
                      <div class="form-wizard-textarea">
                        <textarea></textarea>
                      </div>
                    </div>
                  </div>

                  <!--Step-10-->
                  <div class="question-steps d-none">
                    <h2 class="main-question">How long are you looking to hire a designer for?</h2>
                    <div class="form-wizard-answer">
                      <ul class="form-wizard-type selectarea  mt-4 row">
                        <li class="col-lg-12 col-md-12 col-12">
                          <a href="javascript:void(0)" class="d-block">Less than 1 month</a>
                          <span class="error-msg d-none">Our minimum Engagement is at least 100 hours. If you need less
                            than. it may be difficult for us to help.</span>
                        </li>
                        <li class="col-lg-12 col-md-12 col-12">
                          <a href="javascript:void(0)" class="d-block">1 - 3 Months</a>
                        </li>
                        <li class="col-lg-12 col-md-12 col-12">
                          <a href="javascript:void(0)" class="d-block">3 - 3 Months</a>
                        </li>
                        <li class="col-lg-12 col-md-12 col-12">
                          <a href="javascript:void(0)" class="d-block">> 6 Months</a>
                        </li>
                        <li class="col-lg-12 col-md-12 col-12">
                          <a href="javascript:void(0)" class="d-block">Hire as Full time employee</a>
                        </li>
                        <li class="col-lg-12 col-md-12 col-12">
                          <a href="javascript:void(0)" class="d-block">I'm not sure</a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <!--Step-11-->
                  <div class="question-steps d-none">
                    <h2 class="main-question">What skills should your designer have?</h2>
                    <div class="form-wizard-answer mt-2">
                      <div class="multiselect-languge d-none">
                        <div class="lang-list-box">
                          <div class="fw-input-selectlist">
                            <!--Input-->
                            <div class="multi-select-dropdown">
                              <ul class="multiselectUlLIst p-0">
                                <li class="dropdown-select">
                                  <label>.NET Core</label>
                                  <div class="description ml-3">
                                    <span>- No of Years</span>
                                    <input type="text" class="w-20">
                                  </div>
                                  <div class="description ml-3">
                                    <span>Skill Level</span>
                                    <input type="text">
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <button type="button" class="clearbtn">
                              <i class="icofont-close"></i>
                            </button>
                            <!--Input-->
                          </div>
                          <div class="language-multiselect-dropdown mt-2">
                            <div class="lm-dropdown dropdown">
                              <input type="text" placeholder="Type the desired skills you need in your project"
                                class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                              <div class="mselect-dropdownmenu dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <ul>
                                  <li><a class="dropdown-item" href="#">.NET Core</a></li>
                                  <li><a class="dropdown-item" href="#">.NET Framework</a></li>
                                  <li><a class="dropdown-item" href="#">Ad Planing and Buying</a></li>
                                  <li><a class="dropdown-item" href="#">Adobe XD</a></li>
                                  <li><a class="dropdown-item" href="#">Affiliate Marketing</a></li>
                                  <li><a class="dropdown-item" href="#">Agile Methodology</a></li>
                                  <li><a class="dropdown-item" href="#">Akamai</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!--Step-11-->
                  <div class="question-steps d-none">
                    <h2 class="main-question">What domain/industry expertise your designer should have?</h2>
                    <div class="form-wizard-answer mt-2">
                      <div class="multiselect-languge">
                        <div class="lang-list-box">
                          <div class="fw-input-selectlist">
                            <!--Input-->
                            <div class="multi-select-dropdown">
                              <ul class="multiselectUlLIst p-0">
                                <li class="dropdown-select">
                                  <label>.NET Core</label>
                                  <div class="description ml-3">
                                    <span>- No of Years</span>
                                    <input type="text" class="w-20">
                                  </div>
                                  <div class="description ml-3">
                                    <span>Skill Level</span>
                                    <input type="text">
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <button type="button" class="clearbtn">
                              <i class="icofont-close"></i>
                            </button>
                            <!--Input-->
                          </div>
                          <div class="language-multiselect-dropdown mt-2">
                            <div class="lm-dropdown dropdown">
                              <input type="text" placeholder="Type the desired skills you need in your project"
                                class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                              <div class="mselect-dropdownmenu dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <ul>
                                  <li><a class="dropdown-item" href="#">.NET Core</a></li>
                                  <li><a class="dropdown-item" href="#">.NET Framework</a></li>
                                  <li><a class="dropdown-item" href="#">Ad Planing and Buying</a></li>
                                  <li><a class="dropdown-item" href="#">Adobe XD</a></li>
                                  <li><a class="dropdown-item" href="#">Affiliate Marketing</a></li>
                                  <li><a class="dropdown-item" href="#">Agile Methodology</a></li>
                                  <li><a class="dropdown-item" href="#">Akamai</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <!--Step-12-->
                  <div class="question-steps d-none">
                    <h2 class="main-question">What would you like your new hire to start?</h2>
                    <div class="form-wizard-answer">
                      <ul class="form-wizard-type jss-list selectarea  mt-3 row">
                        <li class="col-lg-12 col-md-12 col-12">
                          <a href="javascript:void(0)" class="pl-3 pr-3">
                            as soon as possible
                          </a>
                        </li>
                        <li class="col-lg-12 col-md-12 col-12">
                          <a href="javascript:void(0)" class="pl-3 pr-3">
                            specific date in the future
                          </a>
                        </li>
                        <li class="col-lg-12 col-md-12 col-12">
                          <a href="javascript:void(0)" class="pl-3 pr-3">
                            i'm not sure
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <!--Step-12-->
                  <div class="question-steps d-none">
                    <h2 class="main-question">Are you open to working with someone who is remote?</h2>
                    <div class="form-wizard-answer">
                      <ul class="form-wizard-type jss-list selectarea  mt-3 row">
                        <li class="col-lg-12 col-md-12 col-12">
                          <a href="javascript:void(0)" class="pl-3 pr-3">
                            Yes, Working remote is OK
                          </a>
                        </li>
                        <li class="col-lg-12 col-md-12 col-12">
                          <a href="javascript:void(0)" class="pl-3 pr-3">
                            No, I need someone on-site
                          </a>
                        </li>
                        <li class="col-lg-12 col-md-12 col-12">
                          <a href="javascript:void(0)" class="pl-3 pr-3">
                            i'm not sure
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <!--Step-13-->
                  <div class="question-steps d-none">
                    <h2 class="main-question">What is the maximum hourly rate you are comfortable paying for this role?
                    </h2>
                    <p class="qn-para">Don't worry. We only use this rate as a celling and try to keep rates as low as
                      possible while maintaining quality.</p>
                    <div class="form-wizard-answer">
                      <ul class="form-wizard-type mt-4 p-0 row">
                        <li class="col-lg-12 col-md-12 col-12">
                          <div class="form-group-wizard d-flex align-items-center">
                            <label class="qs-label-text">Hourly rate</label>
                            <div class="form-input-group position-relative w-50">
                              <input type="text" class="inputview">
                              <span class="dollar">USD/Hour</span>
                            </div>
                          </div>
                          <span class="error-msg d-none">Hiring quality freelancers requires paying competative rates.
                            Depending on the skills you are looking for, we may not able to help</span>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <!--Step-14-->
                  <div class="question-steps d-none">
                    <h2 class="main-question">Hiring Talent Location Preferences</h2>
                    <div class="form-wizard-answer mt-2">
                      <!--language select-->
                      <div class="multiselect-languge  mb-2">
                        <label class="language-title"> Location</label>
                        <div class="lang-list-box">
                          <div class="language-multiselect-dropdown mt-1">
                            <div class="lm-dropdown dropdown">
                              <input type="text" placeholder="Type the desired skills you need in your project"
                                class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                              <div class="mselect-dropdownmenu dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <ul>
                                  <li><a class="dropdown-item" href="#">UK</a></li>
                                  <li><a class="dropdown-item" href="#">USA</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--Timezone-->
                      <div class="multiselect-languge">
                        <label class="language-title"> TimeZone</label>
                        <div class="lang-list-box">
                          <select class="inputview">
                            <option value="1">TimeZone</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!--Step-15-->
                  <div class="question-steps d-none">
                    <h2 class="main-question">Are you looking to hire for another role?</h2>
                    <div class="form-wizard-answer">
                      <ul class="form-wizard-type jss-list selectarea  mt-3 row">
                        <li class="col-lg-12 col-md-12 col-12">
                          <a href="javascript:void(0)" class="pl-3 pr-3">
                            Yes, I want to hire more talent
                          </a>
                          <span class="error-msg d-none">Great, We'll be sure to discuss your additional needs when we
                            get in touch.</span>
                        </li>
                        <li class="col-lg-12 col-md-12 col-12">
                          <a href="javascript:void(0)" class="pl-3 pr-3">
                            No, Just this position
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>


                  <div class="quiz-bttn-group border-top pt-3">
                    <button type="button" class="btn-common-border">Previous</button>
                    <div class="next-skip">
                      <button type="button" class="btn-common-border d-none">Skip</button>
                      <button type="button" class="btn-common-border nextbtn">Next</button>
                    </div>

                  </div>
                </div>
              </form>

            </div>
            <div class="congrtz-content d-none">
              <span>
                <i class='bx bx-check'></i>
              </span>
              <h3>Thank you for choosing EASWORKS!!!</h3>
              <p>Your EASWORKS Enterprise Application Specialist will be reaching out soon</p>
              <img class="congts-img" src="assets/img/Congrats_employer.png" />
              <div class="next-step-dashboard border-top pt-3">
                <h4 class="text-center mb-3">Next Steps</h4>
                <ul class="twowaysstreet-type text-center mt-2 row">
                  <li class="col-lg-4 col-md-4 col-12 pr-0">
                    <img src="assets/img/whyapptalent/customer-service.png" />
                    <p class="qn-para">Discuss work needs and Enterprise Application talent preference</p>
                  </li>
                  <li class="col-lg-4 col-md-4 col-12 pl-0">
                    <img src="assets/img/whyapptalent/talent.png" />
                    <p class="qn-para">Meet 1-2 prevetted Enterprise Application talent from our global talent pool.</p>
                  </li>
                  <li class="col-lg-4 col-md-4 col-12  pr-0">
                    <img class="ovimg-defultSize" src="assets/img/whyapptalent/speed.png" />
                    <p class="qn-para">Start work on no-risk trial period.</p>
                  </li>
                </ul>
              </div>
              <a href="javascript:void(0)" class="btn-common-border nextbtn">Go to My Profile</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>