  <!----- Header ----->
  <app-header></app-header>
  <!----- Header ----->

<!--Banner section-->
<section id="banner-here" class="d-flex align-items-center">
  <div class="container">
    <div class="row align-items-center">
      <div
        class="
          col-lg-7
          pt-5 pt-lg-0
          order-2 order-lg-1
          d-flex
          flex-column
          justify-content-center
        "
      >
        <h1 data-aos="fade-up" data-aos-delay="200">
          Wanna to get hired for Teamcenter PLM Skills
        </h1>
        <p data-aos="fade-up" data-aos-delay="400">
          EASWORKS is a platform for top ERP Application Consultant,
          Engineers, Analyst, Solution Architects, Consultants and Project
          managers. Elite companies and start-ups hire freelance Teamcenter PLM
          Developers from EASWORKS for their critical Enterprise projects.
        </p>
        <h2 class="normal-title" data-aos="fade-up" data-aos-delay="200">
          Teamcenter PLM Roles
        </h2>
        <ul
          class="developer-type aerolestype"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <li class="developer-list">
            <a href="javascript:void(0)"
              ><i class="icofont-simple-right"></i>Teamcenter PLM Consultant</a
            >
          </li>
          <li class="developer-list">
            <a href="javascript:void(0)"
              ><i class="icofont-simple-right"></i>Teamcenter PLM Developer</a
            >
          </li>
          <li class="developer-list">
            <a href="javascript:void(0)"
              ><i class="icofont-simple-right"></i>Teamcenter PLM Analyst</a
            >
          </li>
          <li class="developer-list">
            <a href="javascript:void(0)"
              ><i class="icofont-simple-right"></i>Teamcenter PLM Solution
              Architect</a
            >
          </li>
          <li class="developer-list">
            <a href="javascript:void(0)"
              ><i class="icofont-simple-right"></i>Teamcenter PLM Support
              Analyst</a
            >
          </li>
          <li class="developer-list">
            <a href="javascript:void(0)"
              ><i class="icofont-simple-right"></i>Teamcenter PLM
              Administrator</a
            >
          </li>
          <li class="developer-list">
            <a href="javascript:void(0)"
              ><i class="icofont-simple-right"></i>Teamcenter PLM Trainer</a
            >
          </li>
        </ul>
        <div class="d-flex" data-aos="fade-up" data-aos-delay="500">
          <a href="javascript:void(0)" class="btn-get-started mr-3"
            >Hire a Teamcenter Role</a
          >
          <a href="javascript:void(0)" class="btn-common-border">
            Apply for Teamcenter Jobs</a
          >
        </div>
      </div>
      <div
        class="col-lg-5 order-1 order-lg-2 hero-img animated"
        data-aos="fade-up"
        data-aos-delay="600"
      >
        <div class="dynamic-content">
          <span>Teamcenter <strong>PLM Skills</strong></span>
        </div>
        <img src="assets/img/AESkills.png" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</section>
<!--Banner section End-->

<!-- Our Service Section -->
<section id="services" class="services section-bg">
  <div class="container">
    <div class="section-title text-center">
      <h2>Looking fo different skills other than Teamcenter PLM skills</h2>
    </div>
    <form>
      <div class="row align-items-end justify-content-center">
        <div class="contact-form-group cfg-skills">
          <label>Enterprise Application</label>
          <div class="contact-input-group">
            <select class="inputview">
              <option value="1">Big Data Platforms</option>
              <option value="2">Big Data Analytics Tools</option>
              <option value="3">Business Analytics Tools</option>
              <option value="4">Business Intelligence Tools</option>
              <option value="5">EAM Software</option>
              <option value="6">CRM Software</option>
              <option value="7">ERP Software</option>
              <option value="8">MES Software</option>
              <option value="9">PLM Software</option>
              <option value="10">LMS Software</option>
              <option value="11">CMS Software</option>
              <option value="12">Project Management Software</option>
              <option value="13">Supply Chain Management Software</option>
              <option value="14">Quality Management Software</option>
            </select>
          </div>
        </div>
        <div class="contact-form-group cfg-skills">
          <label>Softwares</label>
          <div class="contact-input-group">
            <select class="inputview">
              <option value="1">JD Edwards</option>
              <option value="1">JD Edwards</option>
            </select>
          </div>
        </div>
        <div class="contact-form-group d-flex flex-wrap">
          <a href="javascript:void(0)" class="btn-get-started mr-3">Hire Now</a>
          <a href="javascript:void(0)" class="btn-common-border"> Apply Now</a>
        </div>
      </div>
    </form>
  </div>
</section>

<section class="team-dna services">
  <div class="container">
    <div class="section-title text-center">
      <h2>Hire Enterprise Teamcenter PLM Developer</h2>
    </div>
    <div class="row plat-items hiringenterprise">
      <div class="col-lg-4 col-md-4 col-12 d-flex">
        <div class="platform-box">
          <div class="plat-step">
            <span>01</span>
          </div>
          <div class="plat-content icon-box mt-4">
            <div class="icon">
              <img src="assets/img/ae-joinforfree.png" alt="image" />
            </div>
            <h2 class="secondary-title">
              Join for Free & Post your Enterprise Teamcenter PLM Developer
              requirement
            </h2>
            <p class="common-para">
              Simply post your enterprise application hiring requirement and
              talk to our industry expert.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-12 d-flex">
        <div class="platform-box">
          <div class="plat-step">
            <span>02</span>
          </div>
          <div class="plat-content icon-box mt-4">
            <div class="icon">
              <img src="assets/img/ae-revieandshorlist.png" alt="image" />
            </div>
            <h2 class="secondary-title">
              Review & short list the pre-vetted Enterprise Teamcenter PLM
              Developer
            </h2>
            <p class="common-para">
              We will provide you the best suited Teamcenter PLM Developer to
              interview based on your requirement from our talent network.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-12 d-flex">
        <div class="platform-box">
          <div class="plat-step">
            <span>03</span>
          </div>
          <div class="plat-content icon-box mt-4">
            <div class="icon">
              <img src="assets/img/ae-pay.png" alt="image" />
            </div>
            <h2 class="secondary-title">
              Pay when you’re satisfied (Risk Free)
            </h2>
            <p class="common-para">
              Try a AppTalents Teamcenter PLM Developer for up to 20 hours of
              trial work, Release payments when it has been completed and you're
              100% satisfied.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Our apps Section -->
<section class="apptalent-connect">
  <div class="container">
    <div class="apptalent-export-content talktous-content">
      <h1 class="text-white">
        Looking for something more Enterprise PLM roles or skills ?
      </h1>
      <p class="mb-4">
        Sometimes you need a Enterprise PLM with a more specific mix of PLM
        skills to fit your Enterprise PLM project needs.
      </p>
      <a href="javascript:void(0)" class="applytojoin-btn">Talk to Us</a>
    </div>
  </div>
</section>
<!--Footer-->
<app-footer></app-footer>
